In [1]:
# Importing Libraries
import numpy as np
import pandas as pd
import selenium
import time
# importing selenium webdriver
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotInteractableException

#Importing requests
import requests

# importing regex
import re

import warnings
warnings.filterwarnings('ignore')

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
#lets first connect to webdriver
driver=webdriver.Chrome('chromedriver.exe')

# Opening the homepage 
Url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(Url)

In [3]:
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
views=[]

In [4]:
#scraping Rank
rank=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for i in rank:
    if i.text is None:
        Rank.append('--')
    else:
        Rank.append(i.text)

In [5]:
len(Rank)

49

In [6]:
#scraping Rank
name=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for i in name:
    if i.text is None:
        Name.append('--')
    else:
        Name.append(i.text)

In [7]:
len(Name)

49

In [8]:
#scraping Artist
artist=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for i in artist:
    if i.text is None:
        Artist.append('--')
    else:
        Artist.append(i.text)

In [9]:
len(Artist)

49

In [10]:
#scraping upload date
upload=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for i in upload:
    if i.text is None:
        Upload_date.append('--')
    else:
        Upload_date.append(i.text)

In [11]:
len(Upload_date)

49

In [12]:
#scraping views
view=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for i in view:
    if i.text is None:
        views.append('--')
    else:
        views.append(i.text)

In [13]:
len(views)

49

In [14]:
# making DataFrame
video=pd.DataFrame({'Rank':Rank[:30],
                    'Name':Name[:30],
                    'Artist':Artist[:30],
                    'Upload_date':Upload_date[:30],
                     'views':views[:30]
                     })
video

,Rank,Name,Artist,Upload_date,views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.23
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.75
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.18
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.62
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.42
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.01
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[21]",Miroshka TV,"February 27, 2018",4.56
7,8.,"""Masha and the Bear – Recipe for Disaster""[22]",Get Movies,"January 31, 2012",4.48
8,9.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",4.48
9,10.,"""Uptown Funk""[24]",Mark Ronson,"November 19, 2014",4.47
10,11.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.35
11,12.,"""Dame Tu Cosita""[30]",El Chombo,"April 5, 2018",3.86
12,13.,"""Wheels on the Bus""[31]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.70
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.65
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.53
15,16.,"""Sorry""[34]",Justin Bieber,"October 22, 2015",3.51
16,17.,"""Counting Stars""[35]",OneRepublic,"May 31, 2013",3.51
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.41
18,19.,"""Girls Like You""[37]",Maroon 5,"May 31, 2018",3.24
19,20.,"""Axel F""[38]",Crazy Frog,"June 16, 2009",3.24
20,21.,"""Faded""[39]",Alan Walker,"December 3, 2015",3.23
21,22.,"""Dark Horse""[40]",Katy Perry,"February 20, 2014",3.23
22,23.,"""Let Her Go""[41]",Passenger,"July 25, 2012",3.18
23,24.,"""Bailando""[42]",Enrique Iglesias,"April 11, 2014",3.17
24,25.,"""Lean On""[43]",Major Lazer,"March 22, 2015",3.17
25,26.,"""Shake It Off""[44]",Taylor Swift,"August 18, 2014",3.15
26,27.,"""Baa Baa Black Sheep""[45]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.14
27,28.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.10
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,"June 4, 2010",3.06
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.04

In [15]:
driver.close()

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [2]:
#lets first connect to webdriver
driver=webdriver.Chrome('chromedriver.exe')

# Opening the homepage 
Url = "https://www.bcci.tv/"
driver.get(Url)

In [5]:
international_fixture=driver.find_element_by_xpath("/html/body/nav/div/div[2]/ul[1]/li[2]/a")
driver.get(international_fixture.get_attribute('href'))

#getting international button
driver.find_element_by_xpath('/html/body/nav/div/div[2]/ul[1]/li[2]').click()

In [7]:
# more fixure
more_fixure=driver.find_element_by_xpath("//button[@class='match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3']")
more_fixure.click()

In [8]:
title=[]
series=[]
place=[]
date=[]
time=[]

In [17]:
name=driver.find_elements_by_xpath('//span[@class="matchOrderText ng-binding ng-scope"]')
for i in name:
    if i.text is None:
        title.append('--')
    else:
        title.append(i.text)

In [10]:
name=driver.find_elements_by_xpath('//span[@class="ng-binding"]')
for i in name:
    if i.text is None:
        series.append('--')
    else:
        series.append(i.text)

In [12]:
name=driver.find_elements_by_xpath('//div[@class="fix-place ng-binding ng-scope"]')
for i in name:
    if i.text is None:
        place.append('--')
    else:
        place.append(i.text)

In [13]:
dt=driver.find_elements_by_xpath('//div[@class="match-card-left match-schedule"]')
for i in dt:
    if i.text is None:
        date.append('--')
    else:
        date.append(i.text)

In [14]:
dt=driver.find_elements_by_xpath('//div[@class="match-card-right match-schedule "]')
for i in dt:
    if i.text is None:
        time.append('--')
    else:
        time.append(i.text)

In [18]:
ODI=pd.DataFrame({'Title':title[:16],
                 'Series':series[:16],
                 'Place':place[:16],
                 'Date':date[:16],
                 'Time':time[:16]})
ODI

,Title,Series,Place,Date,Time
0,2nd T20I -,SRI LANKA TOUR OF INDIA T20 SERIES 2022,2nd T20I - Himachal Pradesh Cricket Associatio...,26 FEB 2022,7:00 PM IST
1,3rd T20I -,SRI LANKA TOUR OF INDIA T20 SERIES 2022,3rd T20I - Himachal Pradesh Cricket Associatio...,27 FEB 2022,7:00 PM IST
2,1st Test -,SRI LANKA TOUR OF INDIA TEST SERIES 2022,1st Test - Punjab Cricket Association IS Bindr...,4 MAR 2022,9:30 AM IST
3,2nd Test -,ICC WOMENS WORLD CUP 2022,"Bay Oval, Mount Maunganui",6 MAR 2022,6:30 AM IST
4,1st T20I -,ICC WOMENS WORLD CUP 2022,"Seddon Park, Hamilton",10 MAR 2022,6:30 AM IST
5,2nd T20I -,SRI LANKA TOUR OF INDIA TEST SERIES 2022,"2nd Test - M Chinnaswamy Stadium, Bengaluru",12 MAR 2022,12:30 PM IST
6,3rd T20I -,ICC WOMENS WORLD CUP 2022,"Seddon Park, Hamilton",12 MAR 2022,6:30 AM IST
7,4th T20I -,ICC WOMENS WORLD CUP 2022,"Bay Oval, Mount Maunganui",16 MAR 2022,6:30 AM IST
8,5th T20I -,ICC WOMENS WORLD CUP 2022,"Eden Park, Auckland",19 MAR 2022,6:30 AM IST
9,2nd T20I -,ICC WOMENS WORLD CUP 2022,"Seddon Park, Hamilton",22 MAR 2022,6:30 AM IST
10,3rd T20I -,ICC WOMENS WORLD CUP 2022,"Hagley Oval, Christchurch",28 MAR 2022,6:30 AM IST
11,1st Test -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"1st T20I - MA Chidambaram Stadium, Chennai",9 JUN 2022,7:30 PM IST
12,2nd Test -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"2nd T20I - M Chinnaswamy Stadium, Bengaluru",12 JUN 2022,7:30 PM IST
13,1st T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,3rd T20I - Vidarbha Cricket Association Stadiu...,14 JUN 2022,7:30 PM IST
14,2nd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,4th T20I - Saurashtra Cricket Association Stad...,17 JUN 2022,7:30 PM IST
15,3rd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"5th T20I - Arun Jaitley Stadium, Delhi",19 JUN 2022,7:30 PM IST

In [19]:
driver.close()

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [16]:
#lets first connect to webdriver
driver=webdriver.Chrome('chromedriver.exe')

# Opening the homepage 
Url = "https://www.guru99.com/"
driver.get(Url)

In [17]:
driver.find_element_by_xpath('//a[@title="Selenium"]').click()

In [18]:
driver.find_element_by_xpath('//a[@title="Selenium Exception Handling (Common Exceptions List)"]').click()

In [19]:
Name=[]
Description=[]

In [20]:
name=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
for i in name:
    if i.text is None:
        Name.append('--')
    else:
        Name.append(i.text)

In [21]:
len(Name)

41

In [22]:
Des=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
for i in Des:
    if i.text is None:
        Description.append('--')
    else:
        Description.append(i.text)

In [23]:
len(Description)

41

In [24]:
sele_excp_handling=pd.DataFrame({'Name':Name,
                                'Description':Description
                                })
sele_excp_handling

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [25]:
driver.close()

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP
D) GSDP
E) Share
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [72]:
#lets first connect to webdriver
driver=webdriver.Chrome('chromedriver.exe')

# Opening the homepage 
Url = "http://statisticstimes.com/"
driver.get(Url)

In [73]:
driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/button').click()

In [76]:
india=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
url=india.get_attribute('href')
url

'https://www.statisticstimes.com/economy/india-statistics.php'

In [77]:
driver.get(url)

In [78]:
Rank=[]
State=[]
GSDP=[]
Share=[]
GDP=[]

In [79]:
driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [80]:
# extracting rank 
try:
    rank=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')

In [81]:
len(Rank)

33

In [82]:
# extracting state
try:
    state=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
    for i in state:
        State.append(i.text)
except NoSuchElementException:
    State.append('-')

In [83]:
len(State)

33

In [84]:
# extracting GSDP
try:
    page=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
    for i in page:
        GSDP.append(i.text)
except NoSuchElementException:
    GSDP.append('-')

In [85]:
len(GSDP)

33

In [87]:
# extracting GSDP_
GSDP_=[]
try:
    page=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
    for i in page:
        GSDP_.append(i.text)
except NoSuchElementException:
    GSDP_.append('-')

In [88]:
len(GSDP)

33

In [91]:
# extracting share
try:
    page=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
    for i in page:
        Share.append(i.text)
except NoSuchElementException:
    Share.append('-')

In [92]:
len(Share)

33

In [93]:
# extracting GDP
try:
    page=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
    for i in page:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('-')

In [94]:
len(GDP)

33

In [95]:
India_Econony=pd.DataFrame({'Rank':Rank,
                            'State':State,
                           'GSDP(19-20)':GSDP,
                           'GSDP(18-19)':GSDP_,
                           'Share':Share,
                           'GDP($ billion)':GDP
                           })

In [96]:
India_Econony

,Rank,State,GSDP(19-20),GSDP(18-19),Share,GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [97]:
driver.close()

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [33]:
#lets first connect to webdriver
driver=webdriver.Chrome('chromedriver.exe')

# Opening the homepage 
Url = "https://github.com/"
driver.get(Url)

In [34]:
driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details').click()

In [35]:
trending=driver.find_element_by_xpath("//html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
try:
    trending.click()
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [49]:
title=[]
description=[]
count=[]
language=[]

In [37]:
url=[]
try:
    url_=driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]/a')
    for i in url_:
        url.append(i.get_attribute('href'))
except NoSuchElementException:
    url.append('--')   
len(url)

25

In [50]:
try:
    page=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
    for i in page:
        title.append(i.text)
except NoSuchElementException:
    title.append('No details available')

In [52]:
try:
    Des=driver.find_elements_by_xpath("//p[@class='col-9 color-fg-muted my-1 pr-4']")
    for i in Des:
        description.append(i.text)     
except NoSuchElementException:
    description.append('--')

In [54]:
# contribution_count
for i in url:
    driver.get(i)
    try:
        counts=driver.find_element_by_xpath("//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        count.append(counts.text)
    except NoSuchElementException: #handling no such element exception
        count.append('No details available')

In [55]:
 #language used    
l=[]
for i in url:
    driver.get(i)

    languages=driver.find_elements_by_xpath("//li[@class='d-inline']//a//span[1]")
    if languages:    
        for i in languages:
            l.append(i.text)
    else:
        l.append('No languages used')
    language.append(l)

In [56]:
len(language),len(count),len(description),len(title)

(25, 25, 23, 25)

In [57]:
git_hub=pd.DataFrame({'Title':title[:23],
                     'Description':description[:23],
                      'Contribution_count':count[:23],
                      'Language_used':language[:23]
                    })
git_hub

,Title,Description,Contribution_count,Language_used
0,louisyoungx / JD-SHOPPER,"京东自动下单 (自动登录,指定时间预约商品,商品补货监控,自动加购物车,自动下单)",3,"[Python, No languages used, C, Python, JavaScr..."
1,github / advisory-database,Security vulnerability database inclusive of C...,3,"[Python, No languages used, C, Python, JavaScr..."
2,netdata / netdata,"Real-time performance monitoring, done right! ...",496,"[Python, No languages used, C, Python, JavaScr..."
3,jrouwe / JoltPhysics,A multi core friendly rigid body physics and c...,5,"[Python, No languages used, C, Python, JavaScr..."
4,KumarRobotics / kr_autonomous_flight,Autonomous flight system for aerial robots,9,"[Python, No languages used, C, Python, JavaScr..."
5,nusr / hacker-laws-zh,"💻📖对开发人员有用的定律、理论、原则和模式。(Laws, Theories, Princip...",9,"[Python, No languages used, C, Python, JavaScr..."
6,anderspitman / awesome-tunneling,List of ngrok alternatives and other ngrok-lik...,6,"[Python, No languages used, C, Python, JavaScr..."
7,labuladong / fucking-algorithm,刷算法全靠套路，认准 labuladong 就够了！English version supp...,97,"[Python, No languages used, C, Python, JavaScr..."
8,withfig / autocomplete,Fig adds autocomplete to your terminal.,182,"[Python, No languages used, C, Python, JavaScr..."
9,commaai / openpilot,openpilot is an open source driver assistance ...,280,"[Python, No languages used, C, Python, JavaScr..."
10,planetscale / beam,A simple message board for your organization o...,5,"[Python, No languages used, C, Python, JavaScr..."
11,KurtBestor / Hitomi-Downloader,🍰 Desktop utility to download images/videos/mu...,13,"[Python, No languages used, C, Python, JavaScr..."
12,VoronDesign / Voron-2,Voron 2 CoreXY 3D Printer design,71,"[Python, No languages used, C, Python, JavaScr..."
13,vueComponent / ant-design-vue,🌈 An enterprise-class UI components based on A...,163,"[Python, No languages used, C, Python, JavaScr..."
14,SebLague / Geographical-Adventures,"FastAPI framework, high performance, easy to l...",No details available,"[Python, No languages used, C, Python, JavaScr..."
15,tiangolo / fastapi,快速高效搭建可视化拖拽平台,294,"[Python, No languages used, C, Python, JavaScr..."
16,H5-Dooring / dooringx,An open-source C++ library developed and used ...,5,"[Python, No languages used, C, Python, JavaScr..."
17,facebook / folly,Yao A low code engine to create web services a...,639,"[Python, No languages used, C, Python, JavaScr..."
18,YaoApp / yao,"Blazing fast, instant realtime GraphQL APIs on...",2,"[Python, No languages used, C, Python, JavaScr..."
19,hasura / graphql-engine,Game Preservation Project,416,"[Python, No languages used, C, Python, JavaScr..."
20,skywind3000 / preserve-cd,😮 Core Interview Questions & Answers For Exper...,2,"[Python, No languages used, C, Python, JavaScr..."
21,nkallen / plasticity,Anime Girls Holding Programming Books,3,"[Python, No languages used, C, Python, JavaScr..."
22,doocs / advanced-java,《代码随想录》LeetCode 刷题攻略：200道经典题目刷题顺序，共60w字的详细图解，视...,31,"[Python, No languages used, C, Python, JavaScr..."

In [58]:
driver.close()

6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [85]:
#lets first connect to webdriver
driver=webdriver.Chrome('chromedriver.exe')

# Opening the homepage 
Url = "https:/www.billboard.com/"
driver.get(Url)

In [86]:
driver.find_element_by_xpath("/html/body/div[4]/header/div[2]/div/nav/ul/li[1]/a").click()

In [87]:
#Make empy list
last_week_rank=[]
peak_pos=[]
weeks_on_board=[]

In [88]:
song_name=[]
try:
    names=driver.find_elements_by_xpath("//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li/h3")
    for i in names:
        song_name.append(i.text)
except NoSuchElementException:
    song_name.append('-')   
    
artist_name=[]
try:
    name=driver.find_elements_by_xpath("//li[@class='lrv-u-width-100p']/ul/li[1]/span")
    for i in name:
        artist_name.append(i.text)
except NoSuchElementException:
    artist_name.append('-')

In [89]:
rank=[]
try:
    name=driver.find_elements_by_xpath("//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
    for i in name:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-')
rank

['4',
 '2',
 '57',
 '',
 '',
 '',
 '3',
 '1',
 '19',
 '',
 '',
 '',
 '7',
 '4',
 '13',
 '',
 '',
 '',
 '5',
 '1',
 '32',
 '',
 '',
 '',
 '6',
 '5',
 '15',
 '',
 '',
 '',
 '8',
 '4',
 '23',
 '',
 '',
 '',
 '9',
 '8',
 '21',
 '',
 '',
 '',
 '12',
 '9',
 '22',
 '',
 '',
 '',
 '11',
 '7',
 '6',
 '',
 '',
 '',
 '10',
 '8',
 '8',
 '',
 '',
 '',
 '14',
 '7',
 '24',
 '',
 '',
 '',
 '13',
 '8',
 '36',
 '',
 '',
 '',
 '15',
 '2',
 '34',
 '',
 '',
 '',
 '-',
 '15',
 '1',
 '',
 '',
 '',
 '17',
 '2',
 '67',
 '',
 '',
 '',
 '16',
 '1',
 '30',
 '',
 '',
 '',
 '18',
 '1',
 '59',
 '',
 '',
 '',
 '19',
 '16',
 '8',
 '',
 '',
 '',
 '-',
 '20',
 '1',
 '',
 '',
 '',
 '-',
 '21',
 '1',
 '',
 '',
 '',
 '21',
 '6',
 '15',
 '',
 '',
 '',
 '-',
 '23',
 '6',
 '',
 '',
 '',
 '20',
 '20',
 '7',
 '',
 '',
 '',
 '28',
 '25',
 '17',
 '',
 '',
 '',
 '29',
 '26',
 '29',
 '',
 '',
 '',
 '31',
 '27',
 '13',
 '',
 '',
 '',
 '24',
 '7',
 '11',
 '',
 '',
 '',
 '23',
 '5',
 '13',
 '',
 '',
 '',
 '25',
 '1',
 '40',
 '',
 '',
 '',
 '27',
 '4',
 '24',
 '',
 '',
 '',
 '2',
 '2',
 '2',
 '',
 '',
 '',
 '47',
 '33',
 '19',
 '',
 '',
 '',
 '-',
 '34',
 '1',
 '',
 '',
 '',
 '22',
 '5',
 '15',
 '',
 '',
 '',
 '26',
 '26',
 '22',
 '',
 '',
 '',
 '-',
 '23',
 '21',
 '',
 '',
 '',
 '38',
 '32',
 '31',
 '',
 '',
 '',
 '35',
 '22',
 '28',
 '',
 '',
 '',
 '-',
 '1',
 '24',
 '',
 '',
 '',
 '36',
 '3',
 '35',
 '',
 '',
 '',
 '33',
 '27',
 '7',
 '',
 '',
 '',
 '39',
 '21',
 '23',
 '',
 '',
 '',
 '30',
 '28',
 '33',
 '',
 '',
 '',
 '37',
 '11',
 '33',
 '',
 '',
 '',
 '-',
 '46',
 '1',
 '',
 '',
 '',
 '42',
 '9',
 '32',
 '',
 '',
 '',
 '49',
 '42',
 '4',
 '',
 '',
 '',
 '34',
 '19',
 '7',
 '',
 '',
 '',
 '41',
 '36',
 '7',
 '',
 '',
 '',
 '48',
 '48',
 '12',
 '',
 '',
 '',
 '32',
 '23',
 '18',
 '',
 '',
 '',
 '46',
 '11',
 '6',
 '',
 '',
 '',
 '51',
 '40',
 '21',
 '',
 '',
 '',
 '58',
 '53',
 '8',
 '',
 '',
 '',
 '54',
 '53',
 '14',
 '',
 '',
 '',
 '53',
 '48',
 '7',
 '',
 '',
 '',
 '57',
 '57',
 '8',
 '',
 '',
 '',
 '59',
 '55',
 '6',
 '',
 '',
 '',
 '61',
 '51',
 '21',
 '',
 '',
 '',
 '56',
 '56',
 '13',
 '',
 '',
 '',
 '62',
 '53',
 '10',
 '',
 '',
 '',
 '55',
 '24',
 '5',
 '',
 '',
 '',
 '69',
 '64',
 '6',
 '',
 '',
 '',
 '60',
 '14',
 '9',
 '',
 '',
 '',
 '45',
 '45',
 '19',
 '',
 '',
 '',
 '52',
 '52',
 '2',
 '',
 '',
 '',
 '40',
 '40',
 '2',
 '',
 '',
 '',
 '64',
 '17',
 '19',
 '',
 '',
 '',
 '43',
 '43',
 '2',
 '',
 '',
 '',
 '63',
 '51',
 '3',
 '',
 '',
 '',
 '66',
 '66',
 '8',
 '',
 '',
 '',
 '-',
 '73',
 '1',
 '',
 '',
 '',
 '71',
 '71',
 '5',
 '',
 '',
 '',
 '65',
 '61',
 '20',
 '',
 '',
 '',
 '80',
 '76',
 '3',
 '',
 '',
 '',
 '82',
 '57',
 '3',
 '',
 '',
 '',
 '81',
 '78',
 '4',
 '',
 '',
 '',
 '67',
 '67',
 '5',
 '',
 '',
 '',
 '70',
 '65',
 '9',
 '',
 '',
 '',
 '75',
 '71',
 '5',
 '',
 '',
 '',
 '83',
 '63',
 '6',
 '',
 '',
 '',
 '-',
 '83',
 '1',
 '',
 '',
 '',
 '85',
 '82',
 '3',
 '',
 '',
 '',
 '91',
 '85',
 '3',
 '',
 '',
 '',
 '72',
 '66',
 '13',
 '',
 '',
 '',
 '79',
 '58',
 '12',
 '',
 '',
 '',
 '74',
 '37',
 '20',
 '',
 '',
 '',
 '-',
 '89',
 '1',
 '',
 '',
 '',
 '76',
 '38',
 '5',
 '',
 '',
 '',
 '93',
 '91',
 '3',
 '',
 '',
 '',
 '95',
 '68',
 '4',
 '',
 '',
 '',
 '90',
 '90',
 '6',
 '',
 '',
 '',
 '86',
 '68',
 '16',
 '',
 '',
 '',
 '-',
 '95',
 '1',
 '',
 '',
 '',
 '84',
 '1',
 '14',
 '',
 '',
 '',
 '89',
 '85',
 '5',
 '',
 '',
 '',
 '96',
 '71',
 '5',
 '',
 '',
 '',
 '94',
 '88',
 '5',
 '',
 '',
 '',
 '92',
 '16',
 '16',
 '',
 '',
 '']

In [90]:
rank1=[]
try:
    add_ = driver.find_elements_by_xpath("//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
    for i in add_:
        rank1.append(i.text)
except NoSuchElementException:
    rank1.append('--')
    
rank1[:3]

['1', '1', '8']

In [91]:
rank1.extend(rank)

In [92]:
rank1

['1',
 '1',
 '8',
 '',
 '',
 '',
 '4',
 '2',
 '57',
 '',
 '',
 '',
 '3',
 '1',
 '19',
 '',
 '',
 '',
 '7',
 '4',
 '13',
 '',
 '',
 '',
 '5',
 '1',
 '32',
 '',
 '',
 '',
 '6',
 '5',
 '15',
 '',
 '',
 '',
 '8',
 '4',
 '23',
 '',
 '',
 '',
 '9',
 '8',
 '21',
 '',
 '',
 '',
 '12',
 '9',
 '22',
 '',
 '',
 '',
 '11',
 '7',
 '6',
 '',
 '',
 '',
 '10',
 '8',
 '8',
 '',
 '',
 '',
 '14',
 '7',
 '24',
 '',
 '',
 '',
 '13',
 '8',
 '36',
 '',
 '',
 '',
 '15',
 '2',
 '34',
 '',
 '',
 '',
 '-',
 '15',
 '1',
 '',
 '',
 '',
 '17',
 '2',
 '67',
 '',
 '',
 '',
 '16',
 '1',
 '30',
 '',
 '',
 '',
 '18',
 '1',
 '59',
 '',
 '',
 '',
 '19',
 '16',
 '8',
 '',
 '',
 '',
 '-',
 '20',
 '1',
 '',
 '',
 '',
 '-',
 '21',
 '1',
 '',
 '',
 '',
 '21',
 '6',
 '15',
 '',
 '',
 '',
 '-',
 '23',
 '6',
 '',
 '',
 '',
 '20',
 '20',
 '7',
 '',
 '',
 '',
 '28',
 '25',
 '17',
 '',
 '',
 '',
 '29',
 '26',
 '29',
 '',
 '',
 '',
 '31',
 '27',
 '13',
 '',
 '',
 '',
 '24',
 '7',
 '11',
 '',
 '',
 '',
 '23',
 '5',
 '13',
 '',
 '',
 '',
 '25',
 '1',
 '40',
 '',
 '',
 '',
 '27',
 '4',
 '24',
 '',
 '',
 '',
 '2',
 '2',
 '2',
 '',
 '',
 '',
 '47',
 '33',
 '19',
 '',
 '',
 '',
 '-',
 '34',
 '1',
 '',
 '',
 '',
 '22',
 '5',
 '15',
 '',
 '',
 '',
 '26',
 '26',
 '22',
 '',
 '',
 '',
 '-',
 '23',
 '21',
 '',
 '',
 '',
 '38',
 '32',
 '31',
 '',
 '',
 '',
 '35',
 '22',
 '28',
 '',
 '',
 '',
 '-',
 '1',
 '24',
 '',
 '',
 '',
 '36',
 '3',
 '35',
 '',
 '',
 '',
 '33',
 '27',
 '7',
 '',
 '',
 '',
 '39',
 '21',
 '23',
 '',
 '',
 '',
 '30',
 '28',
 '33',
 '',
 '',
 '',
 '37',
 '11',
 '33',
 '',
 '',
 '',
 '-',
 '46',
 '1',
 '',
 '',
 '',
 '42',
 '9',
 '32',
 '',
 '',
 '',
 '49',
 '42',
 '4',
 '',
 '',
 '',
 '34',
 '19',
 '7',
 '',
 '',
 '',
 '41',
 '36',
 '7',
 '',
 '',
 '',
 '48',
 '48',
 '12',
 '',
 '',
 '',
 '32',
 '23',
 '18',
 '',
 '',
 '',
 '46',
 '11',
 '6',
 '',
 '',
 '',
 '51',
 '40',
 '21',
 '',
 '',
 '',
 '58',
 '53',
 '8',
 '',
 '',
 '',
 '54',
 '53',
 '14',
 '',
 '',
 '',
 '53',
 '48',
 '7',
 '',
 '',
 '',
 '57',
 '57',
 '8',
 '',
 '',
 '',
 '59',
 '55',
 '6',
 '',
 '',
 '',
 '61',
 '51',
 '21',
 '',
 '',
 '',
 '56',
 '56',
 '13',
 '',
 '',
 '',
 '62',
 '53',
 '10',
 '',
 '',
 '',
 '55',
 '24',
 '5',
 '',
 '',
 '',
 '69',
 '64',
 '6',
 '',
 '',
 '',
 '60',
 '14',
 '9',
 '',
 '',
 '',
 '45',
 '45',
 '19',
 '',
 '',
 '',
 '52',
 '52',
 '2',
 '',
 '',
 '',
 '40',
 '40',
 '2',
 '',
 '',
 '',
 '64',
 '17',
 '19',
 '',
 '',
 '',
 '43',
 '43',
 '2',
 '',
 '',
 '',
 '63',
 '51',
 '3',
 '',
 '',
 '',
 '66',
 '66',
 '8',
 '',
 '',
 '',
 '-',
 '73',
 '1',
 '',
 '',
 '',
 '71',
 '71',
 '5',
 '',
 '',
 '',
 '65',
 '61',
 '20',
 '',
 '',
 '',
 '80',
 '76',
 '3',
 '',
 '',
 '',
 '82',
 '57',
 '3',
 '',
 '',
 '',
 '81',
 '78',
 '4',
 '',
 '',
 '',
 '67',
 '67',
 '5',
 '',
 '',
 '',
 '70',
 '65',
 '9',
 '',
 '',
 '',
 '75',
 '71',
 '5',
 '',
 '',
 '',
 '83',
 '63',
 '6',
 '',
 '',
 '',
 '-',
 '83',
 '1',
 '',
 '',
 '',
 '85',
 '82',
 '3',
 '',
 '',
 '',
 '91',
 '85',
 '3',
 '',
 '',
 '',
 '72',
 '66',
 '13',
 '',
 '',
 '',
 '79',
 '58',
 '12',
 '',
 '',
 '',
 '74',
 '37',
 '20',
 '',
 '',
 '',
 '-',
 '89',
 '1',
 '',
 '',
 '',
 '76',
 '38',
 '5',
 '',
 '',
 '',
 '93',
 '91',
 '3',
 '',
 '',
 '',
 '95',
 '68',
 '4',
 '',
 '',
 '',
 '90',
 '90',
 '6',
 '',
 '',
 '',
 '86',
 '68',
 '16',
 '',
 '',
 '',
 '-',
 '95',
 '1',
 '',
 '',
 '',
 '84',
 '1',
 '14',
 '',
 '',
 '',
 '89',
 '85',
 '5',
 '',
 '',
 '',
 '96',
 '71',
 '5',
 '',
 '',
 '',
 '94',
 '88',
 '5',
 '',
 '',
 '',
 '92',
 '16',
 '16',
 '',
 '',
 '']

In [93]:
for i in rank1:
    if i=='':
        rank1.remove(i)
        
rank1

['1',
 '1',
 '8',
 '4',
 '2',
 '57',
 '3',
 '1',
 '19',
 '7',
 '4',
 '13',
 '5',
 '1',
 '32',
 '6',
 '5',
 '15',
 '8',
 '4',
 '23',
 '9',
 '8',
 '21',
 '12',
 '9',
 '22',
 '11',
 '7',
 '6',
 '10',
 '8',
 '8',
 '14',
 '7',
 '24',
 '13',
 '8',
 '36',
 '15',
 '2',
 '34',
 '-',
 '15',
 '1',
 '17',
 '2',
 '67',
 '16',
 '1',
 '30',
 '18',
 '1',
 '59',
 '19',
 '16',
 '8',
 '-',
 '20',
 '1',
 '-',
 '21',
 '1',
 '21',
 '6',
 '15',
 '-',
 '23',
 '6',
 '20',
 '20',
 '7',
 '28',
 '25',
 '17',
 '29',
 '26',
 '29',
 '31',
 '27',
 '13',
 '24',
 '7',
 '11',
 '23',
 '5',
 '13',
 '25',
 '1',
 '40',
 '27',
 '4',
 '24',
 '2',
 '2',
 '2',
 '47',
 '33',
 '19',
 '-',
 '34',
 '1',
 '22',
 '5',
 '15',
 '26',
 '26',
 '22',
 '-',
 '23',
 '21',
 '38',
 '32',
 '31',
 '35',
 '22',
 '28',
 '-',
 '1',
 '24',
 '36',
 '3',
 '35',
 '33',
 '27',
 '7',
 '39',
 '21',
 '23',
 '30',
 '28',
 '33',
 '37',
 '11',
 '33',
 '-',
 '46',
 '1',
 '42',
 '9',
 '32',
 '49',
 '42',
 '4',
 '34',
 '19',
 '7',
 '41',
 '36',
 '7',
 '48',
 '48',
 '12',
 '32',
 '23',
 '18',
 '46',
 '11',
 '6',
 '51',
 '40',
 '21',
 '58',
 '53',
 '8',
 '54',
 '53',
 '14',
 '53',
 '48',
 '7',
 '57',
 '57',
 '8',
 '59',
 '55',
 '6',
 '61',
 '51',
 '21',
 '56',
 '56',
 '13',
 '62',
 '53',
 '10',
 '55',
 '24',
 '5',
 '69',
 '64',
 '6',
 '60',
 '14',
 '9',
 '45',
 '45',
 '19',
 '52',
 '52',
 '2',
 '',
 '40',
 '40',
 '2',
 '',
 '',
 '',
 '64',
 '17',
 '19',
 '',
 '',
 '',
 '43',
 '43',
 '2',
 '',
 '',
 '',
 '63',
 '51',
 '3',
 '',
 '',
 '',
 '66',
 '66',
 '8',
 '',
 '',
 '',
 '-',
 '73',
 '1',
 '',
 '',
 '',
 '71',
 '71',
 '5',
 '',
 '',
 '',
 '65',
 '61',
 '20',
 '',
 '',
 '',
 '80',
 '76',
 '3',
 '',
 '',
 '',
 '82',
 '57',
 '3',
 '',
 '',
 '',
 '81',
 '78',
 '4',
 '',
 '',
 '',
 '67',
 '67',
 '5',
 '',
 '',
 '',
 '70',
 '65',
 '9',
 '',
 '',
 '',
 '75',
 '71',
 '5',
 '',
 '',
 '',
 '83',
 '63',
 '6',
 '',
 '',
 '',
 '-',
 '83',
 '1',
 '',
 '',
 '',
 '85',
 '82',
 '3',
 '',
 '',
 '',
 '91',
 '85',
 '3',
 '',
 '',
 '',
 '72',
 '66',
 '13',
 '',
 '',
 '',
 '79',
 '58',
 '12',
 '',
 '',
 '',
 '74',
 '37',
 '20',
 '',
 '',
 '',
 '-',
 '89',
 '1',
 '',
 '',
 '',
 '76',
 '38',
 '5',
 '',
 '',
 '',
 '93',
 '91',
 '3',
 '',
 '',
 '',
 '95',
 '68',
 '4',
 '',
 '',
 '',
 '90',
 '90',
 '6',
 '',
 '',
 '',
 '86',
 '68',
 '16',
 '',
 '',
 '',
 '-',
 '95',
 '1',
 '',
 '',
 '',
 '84',
 '1',
 '14',
 '',
 '',
 '',
 '89',
 '85',
 '5',
 '',
 '',
 '',
 '96',
 '71',
 '5',
 '',
 '',
 '',
 '94',
 '88',
 '5',
 '',
 '',
 '',
 '92',
 '16',
 '16',
 '',
 '',
 '']

In [94]:
last_week_rank=rank1[0::3]
last_week_rank

['1',
 '4',
 '3',
 '7',
 '5',
 '6',
 '8',
 '9',
 '12',
 '11',
 '10',
 '14',
 '13',
 '15',
 '-',
 '17',
 '16',
 '18',
 '19',
 '-',
 '-',
 '21',
 '-',
 '20',
 '28',
 '29',
 '31',
 '24',
 '23',
 '25',
 '27',
 '2',
 '47',
 '-',
 '22',
 '26',
 '-',
 '38',
 '35',
 '-',
 '36',
 '33',
 '39',
 '30',
 '37',
 '-',
 '42',
 '49',
 '34',
 '41',
 '48',
 '32',
 '46',
 '51',
 '58',
 '54',
 '53',
 '57',
 '59',
 '61',
 '56',
 '62',
 '55',
 '69',
 '60',
 '45',
 '52',
 '',
 '2',
 '',
 '19',
 '',
 '2',
 '',
 '3',
 '',
 '8',
 '',
 '1',
 '',
 '5',
 '',
 '20',
 '',
 '3',
 '',
 '3',
 '',
 '4',
 '',
 '5',
 '',
 '9',
 '',
 '5',
 '',
 '6',
 '',
 '1',
 '',
 '3',
 '',
 '3',
 '',
 '13',
 '',
 '12',
 '',
 '20',
 '',
 '1',
 '',
 '5',
 '',
 '3',
 '',
 '4',
 '',
 '6',
 '',
 '16',
 '',
 '1',
 '',
 '14',
 '',
 '5',
 '',
 '5',
 '',
 '5',
 '',
 '16',
 '']

In [97]:
peak_pos=rank1[1::3]
peak_pos

['1',
 '2',
 '1',
 '4',
 '1',
 '5',
 '4',
 '8',
 '9',
 '7',
 '8',
 '7',
 '8',
 '2',
 '15',
 '2',
 '1',
 '1',
 '16',
 '20',
 '21',
 '6',
 '23',
 '20',
 '25',
 '26',
 '27',
 '7',
 '5',
 '1',
 '4',
 '2',
 '33',
 '34',
 '5',
 '26',
 '23',
 '32',
 '22',
 '1',
 '3',
 '27',
 '21',
 '28',
 '11',
 '46',
 '9',
 '42',
 '19',
 '36',
 '48',
 '23',
 '11',
 '40',
 '53',
 '53',
 '48',
 '57',
 '55',
 '51',
 '56',
 '53',
 '24',
 '64',
 '14',
 '45',
 '52',
 '40',
 '',
 '64',
 '',
 '43',
 '',
 '63',
 '',
 '66',
 '',
 '-',
 '',
 '71',
 '',
 '65',
 '',
 '80',
 '',
 '82',
 '',
 '81',
 '',
 '67',
 '',
 '70',
 '',
 '75',
 '',
 '83',
 '',
 '-',
 '',
 '85',
 '',
 '91',
 '',
 '72',
 '',
 '79',
 '',
 '74',
 '',
 '-',
 '',
 '76',
 '',
 '93',
 '',
 '95',
 '',
 '90',
 '',
 '86',
 '',
 '-',
 '',
 '84',
 '',
 '89',
 '',
 '96',
 '',
 '94',
 '',
 '92',
 '']

In [98]:
weeks_on_board=rank1[2::3]
weeks_on_board

['8',
 '57',
 '19',
 '13',
 '32',
 '15',
 '23',
 '21',
 '22',
 '6',
 '8',
 '24',
 '36',
 '34',
 '1',
 '67',
 '30',
 '59',
 '8',
 '1',
 '1',
 '15',
 '6',
 '7',
 '17',
 '29',
 '13',
 '11',
 '13',
 '40',
 '24',
 '2',
 '19',
 '1',
 '15',
 '22',
 '21',
 '31',
 '28',
 '24',
 '35',
 '7',
 '23',
 '33',
 '33',
 '1',
 '32',
 '4',
 '7',
 '7',
 '12',
 '18',
 '6',
 '21',
 '8',
 '14',
 '7',
 '8',
 '6',
 '21',
 '13',
 '10',
 '5',
 '6',
 '9',
 '19',
 '2',
 '40',
 '',
 '17',
 '',
 '43',
 '',
 '51',
 '',
 '66',
 '',
 '73',
 '',
 '71',
 '',
 '61',
 '',
 '76',
 '',
 '57',
 '',
 '78',
 '',
 '67',
 '',
 '65',
 '',
 '71',
 '',
 '63',
 '',
 '83',
 '',
 '82',
 '',
 '85',
 '',
 '66',
 '',
 '58',
 '',
 '37',
 '',
 '89',
 '',
 '38',
 '',
 '91',
 '',
 '68',
 '',
 '90',
 '',
 '68',
 '',
 '95',
 '',
 '1',
 '',
 '85',
 '',
 '71',
 '',
 '88',
 '',
 '16',
 '']

In [100]:
len(weeks_on_board),len(peak_pos),len(last_week_rank)

(133, 133, 134)

In [101]:
billboard=pd.DataFrame({'Song Name':song_name[:100],
                         'Artist Name':artist_name[:100],
                         'Last_Week_Rank':last_week_rank[:100],
                        'Peak Rank':peak_pos[:100],
                         'Weeks On Board':weeks_on_board[:100]
                        })
billboard

,Song Name,Artist Name,Last_Week_Rank,Peak Rank,Weeks On Board
0,We Don't Talk About Bruno,"Carolina Gaitan, Mauro Castillo, Adassa, Rhenz...",1,1,8
1,Heat Waves,Glass Animals,4,2,57
2,Easy On Me,Adele,3,1,19
3,abcdefu,GAYLE,7,4,13
4,Stay,The Kid LAROI & Justin Bieber,5,1,32
...,...,...,...,...,...
95,All Too Well (Taylor's Version),Taylor Swift,,83,63
96,Come Back As A Country Boy,Blake Shelton,6,,
97,Iffy,Chris Brown,,-,83
98,Home Sweet,Russell Dickerson,1,,
99,Too Easy,Gunna & Future,,85,82

In [102]:
driver.close()

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [107]:
#lets first connect to webdriver
driver=webdriver.Chrome('chromedriver.exe')

# Opening the homepage 
Url = "https://www.naukri.com/recruiters"
driver.get(Url)

In [108]:
#clicking button
search_job=driver.find_element_by_xpath('//input[@class="sugInp"]')
search_job.send_keys('Data science')

In [109]:
button=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
button.click()

In [118]:
#Make empy list
Name=[]
Designation=[] 
Company=[] 
Skills=[] 
Location=[]

name = driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
for i in name:
    Name.append(i.text)
    
designation = driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
for i in designation:
    Designation.append(i.text)
    
company = driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]')
for i in company:
    Company.append(i.text)
    
skill = driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
for i in skill:
    Skills.append(i.text)
    
loc = driver.find_elements_by_xpath('//p[@class="highlightable"]/span[2]')
for i in loc:
    try:
        Location.append(i.text)
    except NoSuchElementException:        
        Location.append("---")

In [119]:
print(len(Name),len(Designation),len(Company),len(Skills),len(Location))

50 50 50 50 48

In [120]:
# making DataFrame
Recruiters=pd.DataFrame({'Name':Name[:48],
                      'Designation':Designation[:48],
                     'company':Company[:48],
                      'skill':Skills[:48],
                      'Location':Location[:48]
                     })
Recruiters

,Name,Designation,company,skill,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
18,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Hyderabad / Secunderabad
31,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Mysoru / Mysore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Bengaluru / Bangalore
33,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Bengaluru / Bangalore
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Hyderabad / Secunderabad

In [169]:
driver.close()

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [26]:
#lets first connect to webdriver
driver=webdriver.Chrome('chromedriver.exe')

# Opening the homepage 
Url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare//"
driver.get(Url)

In [27]:
#Make empy list
bookname=[]
authorname=[]
volumes=[]
publisher=[]
genre=[]

In [28]:
#scraping book name
name=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in name:
    if i.text is None:
        bookname.append('--')
    else:
        bookname.append(i.text)

In [29]:
len(bookname)

100

In [30]:
#scraping author name
name=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in name:
    if i.text is None:
        authorname.append('--')
    else:
        authorname.append(i.text)

In [31]:
len(authorname)

100

In [32]:
#scraping volumes
name=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in name:
    if i.text is None:
        volumes.append('--')
    else:
        volumes.append(i.text)

In [33]:
len(volumes)

100

In [34]:
#scraping publisher
name=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in name:
    if i.text is None:
        publisher.append('--')
    else:
        publisher.append(i.text)

In [35]:
len(publisher)

100

In [36]:
#scraping name
name=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in name:
    if i.text is None:
        genre.append('--')
    else:
        genre.append(i.text)

In [37]:
len(genre)

100

In [38]:
# making DataFrame
Novels=pd.DataFrame({'Book_Name':bookname[:100],
                      'Author_Name':authorname[:100],
                      'Volumes':volumes[:100],
                      'Publisher':publisher[:100],
                      'Genre':genre[:100]
                     })
Novels

,Book_Name,Author_Name,Volumes,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [39]:
driver.close()

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [40]:
#lets first connect to webdriver
driver=webdriver.Chrome('chromedriver.exe')

# Opening the homepage
Url = "https://www.imdb.com/list/ls095964455/"
driver.get(Url)

In [41]:
#Make empy list
Name=[]
Year=[]
Genre=[]
Runtime=[]
Ratings=[]
Votes=[]

In [42]:
#scraping name
name=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
for i in name:
    if i.text is None:
        Name.append('--')
    else:
        Name.append(i.text)

In [43]:
len(Name)

100

In [44]:
#scraping year
yr=driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
for i in yr:
    if i.text is None:
        Year.append('--')
    else:
        Year.append(i.text)

In [45]:
len(Year)

100

In [46]:
#scraping genre
genre=driver.find_elements_by_xpath('//span[@class="genre"]')
for i in genre:
    if i.text is None:
        Genre.append('--')
    else:
        Genre.append(i.text)

In [47]:
len(Genre)

100

In [48]:
#scraping runtime
run=driver.find_elements_by_xpath('//span[@class="runtime"]')
for i in run:
    if i.text is None:
        Runtime.append('--')
    else:
        Runtime.append(i.text)

In [49]:
len(Runtime)

100

In [50]:
#scraping rating
rate=driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]/span[2]')
for i in rate:
    if i.text is None:
        Ratings.append('--')
    else:
        Ratings.append(i.text)

In [51]:
len(Ratings)

100

In [52]:
#scraping votes
vote=driver.find_elements_by_xpath('//span[@name="nv"]')
for i in vote:
    if i.text is None:
        Votes.append('--')
    else:
        Votes.append(i.text)

In [53]:
len(Votes)

100

In [54]:
# making DataFrame
tv_show=pd.DataFrame({'Name':Name[:100],
                      'Year':Year[:100],
                      'Genre':Genre[:100],
                      'Runtime':Runtime[:100],
                      'Ratings':Ratings[:100],
                      'Votes':Votes[:100]
                     })
tv_show

,Name,Year,Genre,Runtime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,955,848"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"965,721"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"931,618"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"278,950"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"239,129"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"47,776"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"58,501"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"185,616"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"39,290"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"221,903"

In [55]:
driver.close()

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code

In [56]:
#lets first connect to webdriver
driver=webdriver.Chrome('chromedriver.exe')

# Opening the homepage of uci.edu
Url = "https://archive.ics.uci.edu/"
driver.get(Url)

In [57]:
page=driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td/span/b/a') # lacating ShowAllDataset page
page.click()                                                                 # clicking the ShowAllDataset page for details

In [58]:
uci_url=[]
url=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[1]/td[1]/p/a')
for i in url:
    uci_url.append(i.get_attribute('href'))

In [59]:
#Make empy list
Name=[]
Type=[]
Task=[]
Attribute_type=[]
Instances=[]
Attribute=[]
Year=[]

In [60]:
#scraping dataset name
name=driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b')
for i in name:
    if i.text is None:
        Name.append('--')
    else:
        Name.append(i.text)

In [61]:
len(Name)

622

In [62]:
# Scraping dataset type
type=driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[2]')
for i in type:
    if i.text is None:
        Type.append('--')
    else:
        Type.append(i.text)

In [63]:
len(Type)

623

In [64]:
# Scraping task
task=driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[3]')
for i in task:
    if i.text is None:
        Task.append('--')
    else:
        Task.append(i.text)

In [65]:
len(Task)

623

In [66]:
# Scraping Attribute_type
type=driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[4]')
for i in type:
    if i.text is None:
        Attribute_type.append('--')
    else:
        Attribute_type.append(i.text)

In [67]:
len(Attribute_type)

623

In [69]:
# Scraping Instances
instances=driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[5]')
for i in instances:                           
    if i.text is None:                                          
        Instances.append('--')
    else:
        Instances.append(i.text)

In [70]:
len(Instances)

623

In [71]:
# Scraping Attribute
attri=driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[6]')
for i in attri:                           
    if i.text is None:                                          
        Attribute.append('--')
    else:
        Attribute.append(i.text)

In [72]:
len(Attribute)

623

In [73]:
# Scraping Year
yr=driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[7]')
for i in yr:                           
    if i.text is None:                                          
        Year.append('--')
    else:
        Year.append(i.text)

In [74]:
len(Year)

623

In [75]:
# making DataFrame
uci=pd.DataFrame({'Dataset_Name':Name[:622],
                  'Dataset_Type':Type[:622],
                  'Task':Task[:622],
                  'Attribute_type':Attribute_type[:622],
                  'Instances':Instances[:622],
                  'Attribute':Attribute[:622],
                  'Year':Year[:622]
                 })
uci

,Dataset_Name,Dataset_Type,Task,Attribute_type,Instances,Attribute,Year
0,Abalone,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Adult,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Annealing,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Anonymous Microsoft Web Data,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Arrhythmia,,Recommender-Systems,Categorical,37711,294,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Regression,Integer,35040,11,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",75840,525,2020
619,Maternal Health Risk Data Set,Multivariate,Classification,"Integer, Real",400,50,2020
620,Room Occupancy Estimation,,Classification,,1014,7,2020
621,Image Recognition Task Execution Times in Mobi...,"Multivariate, Time-Series",Classification,Real,10129,16,2021

In [76]:
driver.close()