In [1]:
# first install selenium library
!pip install selenium

Collecting selenium
  Downloading selenium-4.1.0-py3-none-any.whl (958 kB)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Collecting trio~=0.17
  Downloading trio-0.19.0-py3-none-any.whl (356 kB)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\91964\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: attrs>=19.2.0 in c:\users\91964\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: idna in c:\users\91964\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: async-generator>=1.9 in c:\users\91964\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Collecting outcome
  Downloading outcome-1.1.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: sniffio in c:\users\91964\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\91964\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: sortedcontainers in c:\users\91964\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: pycparser in c:\users\91964\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Collecting wsproto>=0.14
  Downloading wsproto-1.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: certifi in c:\users\91964\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\91964\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\91964\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: six>=1.5.2 in c:\users\91964\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Collecting h11<1,>=0.9.0
  Downloading h11-0.12.0-py3-none-any.whl (54 kB)
Installing collected packages: outcome, h11, wsproto, trio, trio-websocket, selenium
Successfully installed h11-0.12.0 outcome-1.1.0 selenium-4.1.0 trio-0.19.0 trio-websocket-0.9.2 wsproto-1.0.0

# Q1:

In [2]:
# import libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
#lets first connect to webdriver
driver=webdriver.Chrome(r'C:\Users\91964\Desktop\nazia\chromedriver_win32\chromedriver.exe')

In [3]:
url='https://www.naukri.com'
driver.get(url)

In [4]:
# finding web element for search job bar using id
search_job=driver.find_element_by_id("qsb-keyword-sugg" )

In [5]:
search_job.send_keys('Data Analyst')

In [6]:
search_locn=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input')

In [7]:
search_locn.send_keys('Bangalore')

In [8]:
search_btn=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button")

In [9]:
search_btn.click()

In [10]:
# extracting job title
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [12]:
job_title=[]
for i in title_tags:
    job_title.append(i.text)

job_title=job_title[0:11]

In [20]:
# extracting job location
job_lcn=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [22]:
location=[]
for i in job_lcn:
    location.append(i.text)

location=location[0:11]

In [23]:
# extracting company name
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

In [25]:
company=[]
for i in company_tags:
    company.append(i.text)
    
company=company[0:11]

In [30]:
# extracting Experience
exp_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')

In [32]:
exp=[]
for i in exp_tag:
    exp.append(i.text)
exp=exp[0:11]

In [33]:
len(job_title),len(location),len(company),len(exp)

(11, 11, 11, 11)

In [34]:
#Make data frame of scraped data
JOB=pd.DataFrame({'Title':job_title,
                  'Location':location,
                  'Company':company,
                  'Exp': exp
                 })

In [35]:
JOB

,Title,Location,Company,Exp
0,Lead - Data Analyst / Scientist,Bangalore/Bengaluru,Axim Technologies,12-14 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru,Schneider Electric,0-2 Yrs
2,Data Analyst,Bangalore/Bengaluru,Snaphunt,0-2 Yrs
3,BUSINESS ANALYST -DATA SCIENCE-CONSUMER,Bangalore/Bengaluru,BRIDGEi2i Analytics Solutions Private Limited,0-2 Yrs
4,Data Analyst,Bangalore/Bengaluru,Jeeva Organic,3-8 Yrs
5,Senior Data Analyst - KPO,"Gurgaon/Gurugram, Bangalore/Bengaluru",Huquo Consulting Pvt. Ltd,7-12 Yrs
6,Senior Data Analyst - Supporting Audits,Bangalore/Bengaluru,Visa,5-8 Yrs
7,Data Analyst,Bengaluru/Bangalore,Flipkart,1-2 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,Glance,1-6 Yrs
9,Senior Data Analyst,Bangalore/Bengaluru,Glance IT Solution,1-6 Yrs
10,Senior Data Analyst,Remote,Arcworth Strategy LLP,2-4 Yrs

# Q2:

In [36]:
#lets first connect to webdriver
driver=webdriver.Chrome(r'C:\Users\91964\Desktop\nazia\chromedriver_win32\chromedriver.exe')

In [37]:
url='https://www.naukri.com'
driver.get(url)

In [38]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')

In [39]:
search_job.send_keys('Data Scientist')

In [40]:
search_locn=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input")

In [41]:
search_locn.send_keys('Bangalore')

In [42]:
search_btn=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button')

In [43]:
search_btn.click()

In [45]:
# extracting job title
title_tag=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [47]:
job_titles=[]

for i in title_tag:
    job_titles.append(i.text)
    
job_titles=job_titles[0:11]

In [48]:
# extracting job location
location_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [50]:
job_location=[]

for i in location_tag:
    job_location.append(i.text)
job_location=job_location[0:11]

In [51]:
# extracting company name
company_tag=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

In [53]:
company_name=[]

for i in company_tag:
    company_name.append(i.text)

company_name=company_name[0:11]

In [54]:
len(job_titles),len(job_location),len(company_name)

(11, 11, 11)

In [55]:
# Make data frame of scraped data
Jobs=pd.DataFrame({'Job_title':job_titles,
                   'Job_location':job_location,
                   'Company_name':company_name
                  })

In [56]:
Jobs

,Job_title,Job_location,Company_name
0,Global Tax Automation & Operations | Data Scie...,Bangalore/Bengaluru,Dell
1,Senior Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Fractal Analytics
2,Lead/Senior Data Scientist (NLP),Bangalore/Bengaluru\n(WFH during Covid),Samya.AI A FRACTAL Entity
3,Lead - Data Analyst / Scientist,Bangalore/Bengaluru,Axim Technologies
4,Job opening with Wipro For Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Wipro
5,Spark ML Data Scientist,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",Wipro
6,Spark ML Data Scientist,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",Wipro
7,Senior Data Scientist - Logistics,Bangalore/Bengaluru,Gojek Tech
8,Lead Data Scientist - NLP/OpenCV,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Codersbrain
9,Lead Data Scientist - Prescriptive Analytics/P...,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Codersbrain
10,"Lead / Sr. Data Scientist, Bangalore",Bangalore/Bengaluru,Talent Bee Consulting Pvt. Ltd

# Q3:

In [57]:
#lets first connect to webdriver
driver=webdriver.Chrome(r'C:\Users\91964\Desktop\nazia\chromedriver_win32\chromedriver.exe')

In [58]:
url='https://www.naukri.com'
driver.get(url)

In [59]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')

In [60]:
search_job.send_keys('Data Scientist')

In [61]:
search_btn=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button')

In [62]:
search_btn.click()

In [63]:
location_check=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/p/span[1]')

In [64]:
location_check.click()

In [65]:
salary_check=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]')

In [66]:
salary_check.click()

In [67]:
# extracting job title
title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [69]:
jobtitles=[]

for i in title:
    jobtitles.append(i.text)

jobtitles=jobtitles[0:11]

In [70]:
# extracting job location
locn=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [72]:
joblocn=[]

for i in locn:
    joblocn.append(i.text)

joblocn=joblocn[0:11]

In [74]:
# extracting company name
companytag=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

In [76]:
com_pany=[]

for i in companytag:
    com_pany.append(i.text)

com_pany=com_pany[0:11]

In [77]:
# extracting Experience
tag_exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')

In [81]:
exper_req=[]

for i in tag_exp:
    exper_req.append(i.text)
    
exper_req=exper_req[0:11]

In [82]:
len(jobtitles),len(joblocn),len(com_pany),len(exper_req)

(11, 11, 11, 11)

In [85]:
# Make data frame of scraped data
Job=pd.DataFrame({'Job_title':jobtitles,
                   'Job_location':joblocn,
                   'Company_name':com_pany,
                     'Exp'  :exper_req
                  })

In [86]:
Job

,Job_title,Job_location,Company_name,Exp
0,Data Scientist | Python | Machine Learning | D...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Schlesinger Group,0-3 Yrs
1,Openings For Jr/mid/Sr level data Scientists,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Pluto seven business solutions (p) limited,2-6 Yrs
2,Senior Data Scientist I,Gurgaon/Gurugram,Delhivery,3-7 Yrs
3,Data Scientist role,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Mount Talent Consulting Private Limited,1-3 Yrs
4,Data Scientist role,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Mount Talent Consulting Private Limited,1-3 Yrs
5,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs
6,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs
7,Data Scientist Internship,New Delhi,iHackers Inc,0-1 Yrs
8,Data Scientist,"Noida, New Delhi, Faridabad, Gurgaon/Gurugram,...",LG,0-2 Yrs
9,Data Scientist,"Gurgaon/Gurugram, Chennai",Teleperformance,4-9 Yrs
10,Data Analyst / Data Scientist / Business Analy...,"Noida, New Delhi, Delhi / NCR",GABA Consultancy services,0-0 Yrs

# Q4:

In [2]:
#lets first connect to webdriver
driver=webdriver.Chrome(r'C:\Users\91964\Desktop\nazia\chromedriver_win32\chromedriver.exe')

In [3]:
url='https://www.flipkart.com'
driver.get(url)

In [4]:
search_item=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")

In [5]:
search_item.send_keys('sunglasses')

In [6]:
search_btn=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')

In [8]:
search_btn.click()

In [11]:
# extracting product brand
brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

brands=[]
for i in range (0,3):
    print('page',i+1)
    brand=driver.find_elements_by_class_name('_2WkVRV"]')

    for j in brand:
        brands.append(j.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")   
    nxt_button.click()
brands

In [13]:
# extracting Brand Name
brand=[]
for page in range(3):

    brands=driver.find_elements_by_class_name('_2WkVRV')
    for i in brands:
        brand.append(i.text)

    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
brand=brand[0:100]
len(brand)

100

In [16]:
# extracting product description
product_desc=[]

for page in range(3):
    product=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for j in product:
        product_desc.append(j.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))
product_desc=product_desc[0:100]        
len(product_desc)

100

In [20]:
# extracting price
price=[]
for i in range (3):
    price_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for j in price_tag:
        price.append(j.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))
price=price[0:100]
len(price)

100

In [21]:
discount=[]
for i in range(3):
    discount_tag=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    for j in discount_tag:
        discount.append(j.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))
discount=discount[0:100]
len(discount)

100

In [25]:
sunglasses=pd.DataFrame({'Brand':brand,
                         'Product_desc':product_desc,
                         'Price':price,
                         'Discount':discount})

In [26]:
sunglasses

,Brand,Product_desc,Price,Discount
0,Cruze,UV Protection Aviator Sunglasses (Free Size),₹739,69% off
1,elegante,UV Protection Round Sunglasses (Free Size),₹664,76% off
2,IDEE,"Mirrored, UV Protection Wayfarer Sunglasses (18)",₹261,77% off
3,VINCENT CHASE,by Lenskart UV Protection Aviator Sunglasses (53),₹999,75% off
4,Fastrack,UV Protection Aviator Sunglasses (58),"₹2,439",74% off
...,...,...,...,...
95,AISLIN,"by Lenskart Polarized, UV Protection Aviator S...",₹426,72% off
96,Rich Club,UV Protection Round Sunglasses (Free Size),₹426,80% off
97,New Specs,UV Protection Round Sunglasses (50),₹206,81% off
98,elegante,"Mirrored, Gradient, UV Protection, Night Visio...",₹699,60% off
99,NuVew,"UV Protection, Gradient Retro Square Sunglasse...",₹999,73% off

# Q5:

In [49]:
#lets first connect to webdriver
driver=webdriver.Chrome(r'C:\Users\91964\Desktop\nazia\chromedriver_win32\chromedriver.exe')

In [50]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [51]:
all_rev_btn=driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]')

In [52]:
all_rev_btn.click()

In [53]:
# extracting rating
ratings=[]

for i in range (11):
    
    rating_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    
    for r in rating_tag:
        ratings.append(r.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))    
ratings=ratings[0:100]
len(ratings)

100

In [55]:
# extracting review summary
review_summ=[]

for i in range (11):
    
    summary_tag=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    for j in summary_tag:
        review_summ.append(j.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
review_summ=review_summ[0:100]
len(review_summ)

100

In [56]:
# extracting full review 
review_full=[]

for i in range(11):
    
    review_tag=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    for p in review_tag:
        review_full.append(p.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))

review_full=review_full[0:100]        
len(review_full)

100

In [57]:
iphone=pd.DataFrame({'Ratings':ratings,
         'Review_summary':review_summ,
          'Full_review':review_full
        })

In [58]:
iphone

,Ratings,Review_summary,Full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,3,Must buy!,Camera is excellent just lack of telephoto mod...
96,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
97,5,Awesome,The phone is completely good\nAs far as camera...
98,5,Decent product,Everything u ll like it when u use this iPhone...
99,3,Wonderful,Nice value for money good and best price I pho...

# Q6:

In [59]:
#lets first connect to webdriver
driver=webdriver.Chrome(r'C:\Users\91964\Desktop\nazia\chromedriver_win32\chromedriver.exe')

In [60]:
url='https://www.flipkart.com'
driver.get(url)

In [61]:
search_item=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")

In [62]:
search_item.send_keys('sneakers')

In [63]:
search_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')

In [64]:
search_btn.click()

In [70]:
# extracting Brand
brand=[]

for i in range (3):
    
    brand_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    
    for r in brand_tag:
        brand.append(r.text)
    nxt_button=driver.find_elements_by_xpath('//a[@class="_1LKTO3"]') 
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))
    
brand=brand[0:100]
len(brand)

100

In [73]:
# extracting Product Description
description=[]

for i in range (4):
    
    product_desc=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    
    for r in product_desc:
        description.append(r.text)
    nxt_button=driver.find_elements_by_xpath('//a[@class="_1LKTO3"]') 
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
description=description[0:100]        
len(description)

100

In [74]:
# extracting Price
price=[]

for i in range (3):
    
    price_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for r in price_tag:
        price.append(r.text)
    nxt_button=driver.find_elements_by_xpath('//a[@class="_1LKTO3"]') 
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
price=price[0:100]  
len(price)

100

In [78]:
# extracting discount
discount=[]

for i in range (3):
    
    discount_tag=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    for r in discount_tag:
        discount.append(r.text)
    nxt_button=driver.find_elements_by_xpath('//a[@class="_1LKTO3"]') 
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
discount=discount[0:100] 
len(discount)

100

In [79]:
sneakers=pd.DataFrame({'Brand':brand,
                       'product description':description  ,
                       'Price':price ,
                       'Discount':discount
                      })

In [83]:
sneakers

,Brand,product description,Price,Discount
0,Zorth,Sneakers For Men,₹503,50% off
1,LE GREEM,Sneakers For Men,"₹3,999",57% off
2,SPARX,Luxury Fashionable casual sneaker shoes Sneake...,₹398,15% off
3,PEHANOSA,Modern Trendy Shoes Combo pack of 4 Sneakers F...,₹449,56% off
4,BRUTON,Sneakers For Men,₹898,82% off
...,...,...,...,...
95,Baogi,SM-496 Sneakers For Men,₹359,70% off
96,Mr.SHOES,Casual All White Sneaker Shoe Sneakers For Men,₹536,62% off
97,U.S. POLO ASSN.,Elixir Man Limited Edition Casual Shoes Sneake...,₹497,33% off
98,PUMA,Combo Pack of 4 Casual Shoes Sneakers For Men,₹494,40% off
99,K- FOOTLANCE,Men Casual Shoes Sneakers For Men,₹449,64% off

# Q7:

In [16]:
#lets first connect to webdriver
driver=webdriver.Chrome(r'C:\Users\91964\Desktop\nazia\chromedriver_win32\chromedriver.exe')

In [17]:
url='https://www.myntra.com/shoes'
driver.get(url)

In [18]:
price_check=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_check.click()

In [19]:
color_check=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
color_check.click()

In [24]:
# extracting Brand
brand_name=[]

for i in range (2):
    
    brand_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
    for r in brand_tag:
        brand_name.append(r.text)
        
    nxt_button=driver.find_elements_by_xpath('//li[@class="pagination-next"]/a') 
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))

len(brand_name)

100

In [25]:
description=[]

for i in range (2):
    
    des_tag=driver.find_elements_by_xpath('//h4[@class="product-product"]')
    
    for r in des_tag:
        description.append(r.text)
    nxt_button=driver.find_elements_by_xpath('//li[@class="pagination-next"]/a') 
    
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))   
        
len(description)

100

In [31]:
# extracting price
price=[]

for i in range (5):
    
    price_tag=driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')
    
    for r in price_tag:
        price.append(r.text)
    nxt_button=driver.find_elements_by_xpath('//li[@class="pagination-next"]/a') 
    
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))      
         
price=price[0:100]
len(price)

100

In [33]:
shoes=pd.DataFrame({'Brand':brand_name,
                    'Description':description,
                    'Price':price
                   })

In [34]:
shoes

             Brand                          Description      Price
0             Puma  Striped Suede Flatform Heeled Boots   Rs. 7149
1     Hush Puppies          Women Perforations Sneakers   Rs. 8449
2             Puma                   Block Heeled Boots   Rs. 9810
3          Saint G            Men Leather Driving Shoes   Rs. 7191
4            MANGO          Men Wingtip Oxford Sneakers   Rs. 7999
..             ...                                  ...        ...
95            Geox              Men GEL-KAYANO 27 Shoes   Rs. 8010
96    UNDER ARMOUR       Women Charged Bandit 6 Running  Rs. 11250
97  Pavers England            Men Leather Formal Derbys   Rs. 7149
98       J.FONTINI                  Women Running Shoes  Rs. 13599
99         Saint G        Men AIR ZOOM PEGASUS 36 Shoes  Rs. 10121

[100 rows x 3 columns]

# Q8:

In [130]:
#lets first connect to webdriver
driver=webdriver.Chrome(r'C:\Users\91964\Desktop\nazia\chromedriver_win32\chromedriver.exe')

In [131]:
url='https://www.amazon.in/'
driver.get(url)

In [169]:
search_filter=driver.find_element_by_id('twotabsearchtextbox')

In [170]:
search_filter.send_keys('Laptop')

In [171]:
search_btn=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")

In [172]:
search_btn.click()

In [173]:
see_more_btn=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[2]/a/span')

In [174]:
see_more_btn.click()

In [176]:
cpu_check1=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[1]/a[11]/div/span')

In [177]:
cpu_check1.click()

In [178]:
# extracting title
title=[]
    
title_tag=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
for r in title_tag:
    title.append(r.text)
               
title=title[0:10]
len(title)

10

In [181]:
# extracting ratings
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")#collecting urls of all the laptop
UR=[]

for i in urls[:10]:
    UR.append(i.get_attribute('href'))#getting the url of first 10 laptops
for url in UR:#loop for every laptop in the list
    driver.get(url)
    try:
         
        rating=driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']//span")
                                           #locating the rating
        Ratings.append(rating.text)#appending the ratings in Ratings list
        
    except:
        Ratings.append("NO rating")
        
Ratings=Ratings[0:10]

['NO rating',
 'NO rating',
 'NO rating',
 'NO rating',
 'NO rating',
 'NO rating',
 'NO rating',
 'NO rating',
 'NO rating',
 'NO rating']

In [149]:
# extracting price
price=[]
    
price_tag=driver.find_elements_by_xpath('//span[@class="a-price"]')
for r in price_tag:
    price.append(r.text)
    
price=price[0:10]               
len(price)

10

In [184]:
Laptop_Data=pd.DataFrame({'Title':title,
                          'Ratings':Ratings,
                          'Price':price})

In [185]:
Laptop_Data

                                               Title    Ratings    Price
0  Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...  NO rating  ₹30,990
1  HP Pavilion 13, 11th Gen Intel Core i7, 13.3-i...  NO rating  ₹56,990
2  ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...  NO rating  ₹31,200
3  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...  NO rating  ₹50,400
4  Mi Notebook Horizon Edition 14 Intel Core i7-1...  NO rating  ₹30,590
5  Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...  NO rating  ₹57,400
6  ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms)...  NO rating  ₹38,990
7  ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11...  NO rating  ₹38,999
8  ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...  NO rating  ₹33,990
9  MSI GF75 Thin Gaming, Intel i7-10750H, 17.3" (...  NO rating  ₹46,395

# Q.9

In [79]:
#lets first connect to webdriver
driver=webdriver.Chrome(r'C:\Users\91964\Desktop\nazia\chromedriver_win32\chromedriver.exe')

In [80]:
url='https://www.ambitionbox.com/'
driver.get(url)

In [81]:
job_filter=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')

In [82]:
job_filter.click()

In [83]:
search_filter=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')

In [84]:
search_filter.send_keys('Data Scientist')

In [85]:
search_btn=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button/span')

In [86]:
search_btn.click()

In [87]:
location_btn=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')

In [88]:
location_btn.click()

In [91]:
search_location=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[5]/div/label')

In [92]:
search_location.click()

In [93]:
#Extracting company name
company_name=[]

name_tag=driver.find_elements_by_xpath('//p[@class="company body-medium"]')
for r in name_tag:
    company_name.append(r.text)
               
len(company_name)

10

In [94]:
#Extracting Experience
exper=[]

exp_tag=driver.find_elements_by_xpath('//p[@class="body-small-l"]')
for r in exp_tag:
    exper.append(r.text)
exper=exper[0:10]               
len(exper)

10

In [95]:
#Extracting review
review=[]

review_tag=driver.find_elements_by_xpath('//span[@class="body-small"]')
for r in review_tag:
    review.append(r.text)
            
len(review)

10

In [115]:
job_result=pd.DataFrame({'Company':company_name,
            'Experience':exper,
             'Review':review
             })

In [116]:
job_result

,Company,Experience,Review
0,Nokia Solutions and Networks India (P)Ltd.,1-3 years,4.3
1,Ameriprise Financial,Not Disclosed,4.0
2,Paytm,Noida,3.7
3,Jubilant Foodworks Limited,1 vacancy,3.9
4,CHT Sapiense,1-3 Yrs,3.7
5,CHT Sapiense,Not Disclosed,3.7
6,GI Group,Noida,4.1
7,GI Group,"Telecom, Data mining, Relationship management ...",4.1
8,GI Group,4-6 Yrs,4.1
9,RMS Risk Management Solutions,Not Disclosed,3.5

# Q.10

In [2]:
#lets first connect to webdriver
driver=webdriver.Chrome(r'C:\Users\91964\Desktop\nazia\chromedriver_win32\chromedriver.exe')

In [3]:
url='https://www.ambitionbox.com/'
driver.get(url)

In [37]:
salary_filter=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')

In [38]:
salary_filter.click()

In [39]:
search_profile=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')

In [40]:
search_profile.send_keys('Data Scientist')

In [41]:
select_btn=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]')

In [42]:
select_btn.click()

In [60]:
#Extracting company name
company_name=[]

name_tag=driver.find_elements_by_xpath('//div[@class="name"]')
for r in name_tag:
    company_name.append(r.text.split('\n')[0])
               
len(company_name)

10

In [62]:
#Extracting total salary record
total_salary=[]

salary_tag=driver.find_elements_by_xpath('//div[@class="name"]')
for r in salary_tag:
    total_salary.append(r.text.split('\n')[1])
               
len(total_salary)

10

In [67]:
#Extracting year of exp
total_exp=[]

exp_tag=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
for r in exp_tag:
    total_exp.append(r.text.split('\n . \n')[1])
               
len(total_exp)

10

In [71]:
#Extracting average salary
avg_sal=[]

avg_tag=driver.find_elements_by_xpath('//p[@class="averageCtc"]')
for r in avg_tag:
    avg_sal.append(r.text)
               
len(avg_sal)

10

In [90]:
#Extracting minimum salary
min_sal=[]

min_tag=driver.find_elements_by_xpath('//div[@class="salary-values"]')
for r in min_tag:
    min_sal.append(r.text.split('\n')[0])
min_sal=min_sal[0:10]               
len(min_sal)

10

In [85]:
#Extracting minimum salary
max_sal=[]

max_tag=driver.find_elements_by_xpath('//div[@class="salary-values"]')
for r in max_tag:
    max_sal.append(r.text.split('\n')[1])
               
max_sal=max_sal[0:10]              
len(max_sal)

10

In [91]:
salary_data=pd.DataFrame({'Name': company_name,
                          'Total_Salary':total_salary,
                          'Total_Exp': total_exp,
                           'Avg_Salary':avg_sal,
                          'Min_Salary':min_sal,
                          'Max_Salary':max_sal})

In [92]:
salary_data

,Name,Total_Salary,Total_Exp,Avg_Salary,Min_Salary,Max_Salary
0,Walmart,based on 10 salaries,3 yrs exp,₹ 28.7L,₹ 17.7L,₹ 35.0L
1,Ab Inbev,based on 22 salaries,3-4 yrs exp,₹ 19.5L,₹ 15.0L,₹ 25.0L
2,ZS,based on 14 salaries,2 yrs exp,₹ 15.8L,₹ 9.8L,₹ 20.0L
3,Fractal Analytics,based on 72 salaries,2-4 yrs exp,₹ 15.0L,₹ 9.5L,₹ 22.0L
4,Optum,based on 23 salaries,3-4 yrs exp,₹ 15.0L,₹ 11.0L,₹ 21.3L
5,UnitedHealth,based on 49 salaries,2-4 yrs exp,₹ 13.5L,₹ 7.2L,₹ 20.5L
6,Tiger Analytics,based on 27 salaries,3-4 yrs exp,₹ 13.5L,₹ 8.3L,₹ 18.5L
7,Verizon,based on 14 salaries,4 yrs exp,₹ 12.7L,₹ 10.0L,₹ 21.0L
8,Ganit Business Solutions,based on 13 salaries,4 yrs exp,₹ 12.4L,₹ 8.5L,₹ 15.0L
9,Ericsson,based on 42 salaries,3-4 yrs exp,₹ 11.9L,₹ 5.8L,₹ 21.5L