In [1]:
!pip install bs4
!pip install requests

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Requirement already satisfied: beautifulsoup4 in c:\users\91964\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\91964\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py): started
  Building wheel for bs4 (setup.py): finished with status 'done'
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1273 sha256=a2b67eb1e68200f233e658edab04ec4b200cdab87448aa63b99794c70af45b75
  Stored in directory: c:\users\91964\appdata\local\pip\cache\wheels\75\78\21\68b124549c9bdc94f822c02fb9aa3578a669843f9767776bca
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1
Requirement already satisfied: requests in c:\users\91964\anaconda3\lib\site-packages (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\91964\anaconda3\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\91964\anaconda3\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\91964\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\91964\anaconda3\lib\site-packages (from requests) (4.0.0)

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

1) Write a python program to display all the header tags from wikipedia.org

In [2]:
page=requests.get('https://en.wikipedia.org/wiki/Main_Page')

In [3]:
page

In [4]:
wiki=BeautifulSoup(page.content)

In [5]:
titles=[]

In [6]:
for i in wiki.find_all('span',class_='mw-headline'):
    titles.append(i.text)
titles

["From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "From today's featured list",
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [7]:
#Making DataFrame
wikipedia=pd.DataFrame({'Header Tags':titles})
wikipedia

                     Header Tags
0  From today's featured article
1               Did you know ...
2                    In the news
3                    On this day
4     From today's featured list
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

-----

-----

2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
and make data frame.

In [8]:
page=requests.get('https://www.imdb.com/list/ls091520106/')

In [9]:
page

In [10]:
imdb=BeautifulSoup(page.content)

In [11]:
moviename=[]
for i in imdb.find_all('h3', class_="lister-item-header"):
    moviename.append(i.text.split('\n')[2])
    
moviename

['The Shawshank Redemption',
 'The Godfather',
 'The Godfather: Part II',
 'The Dark Knight',
 '12 Angry Men',
 "Schindler's List",
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 'Il buono, il brutto, il cattivo',
 'Fight Club',
 'Joker',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Forrest Gump',
 'Inception',
 'Star Wars: Episode V - The Empire Strikes Back',
 'The Lord of the Rings: The Two Towers',
 'The Matrix',
 "One Flew Over the Cuckoo's Nest",
 'Goodfellas',
 'Shichinin no samurai',
 'Se7en',
 'Cidade de Deus',
 'La vita è bella',
 'The Silence of the Lambs',
 'Star Wars',
 "It's a Wonderful Life",
 'Saving Private Ryan',
 'Sen to Chihiro no kamikakushi',
 'The Green Mile',
 'Léon',
 'Seppuku',
 'Interstellar',
 'The Usual Suspects',
 'The Lion King',
 'American History X',
 'Back to the Future',
 'The Pianist',
 'Modern Times',
 'Terminator 2: Judgment Day',
 'The Intouchables',
 'Psycho',
 'Gladiator',
 'City Lights',
 'The Departed',
 'Whiplash',
 'Once Upon a Time in the West',
 'The Prestige',
 'Avengers: Endgame',
 'Casablanca',
 'Hotaru no haka',
 'Rear Window',
 'Nuovo Cinema Paradiso',
 'Alien',
 'Raiders of the Lost Ark',
 'Memento',
 'Apocalypse Now',
 'The Great Dictator',
 'The Lives of Others',
 'Avengers: Infinity War',
 'Django Unchained',
 'Spider-Man: Into the Spider-Verse',
 'The Shining',
 'Paths of Glory',
 'WALL·E',
 'Sunset Blvd.',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'Mononoke-hime',
 'Oldeuboi',
 'Witness for the Prosecution',
 'The Dark Knight Rises',
 'Once Upon a Time in America',
 'Gisaengchung',
 'Aliens',
 'American Beauty',
 'Coco',
 'Kimi no na wa.',
 'Braveheart',
 'Das Boot',
 '3 Idiots',
 'Taare Zameen Par',
 'Star Wars: Episode VI - Return of the Jedi',
 'Toy Story',
 'Reservoir Dogs',
 'Amadeus',
 'Dangal',
 'Good Will Hunting',
 'Inglourious Basterds',
 'M - Eine Stadt sucht einen Mörder',
 'Requiem for a Dream',
 '2001: A Space Odyssey',
 'Vertigo',
 'Eternal Sunshine of the Spotless Mind',
 'Citizen Kane',
 'Full Metal Jacket',
 'Jagten',
 'North by Northwest',
 'A Clockwork Orange',
 'Snatch',
 "Le fabuleux destin d'Amélie Poulain",
 'The Kid']

In [12]:
rating=[]
for i in imdb.find_all('div',class_="ipl-rating-star small"):
    rating.append(i.text.replace ('\n',''))

rating

['9.3',
 '9.2',
 '9',
 '9',
 '9',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.4',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.6',
 '8.3',
 '8.3',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.3',
 '8.3']

In [13]:
release=[]
for i in imdb.find_all('span',class_="lister-item-year text-muted unbold"):
    release.append(i.text[-5:-1:1])
release

['1994',
 '1972',
 '1974',
 '2008',
 '1957',
 '1993',
 '2003',
 '1994',
 '1966',
 '1999',
 '2019',
 '2001',
 '1994',
 '2010',
 '1980',
 '2002',
 '1999',
 '1975',
 '1990',
 '1954',
 '1995',
 '2002',
 '1997',
 '1991',
 '1977',
 '1946',
 '1998',
 '2001',
 '1999',
 '1994',
 '1962',
 '2014',
 '1995',
 '1994',
 '1998',
 '1985',
 '2002',
 '1936',
 '1991',
 '2011',
 '1960',
 '2000',
 '1931',
 '2006',
 '2014',
 '1968',
 '2006',
 '2019',
 '1942',
 '1988',
 '1954',
 '1988',
 '1979',
 '1981',
 '2000',
 '1979',
 '1940',
 '2006',
 '2018',
 '2012',
 '2018',
 '1980',
 '1957',
 '2008',
 '1950',
 '1964',
 '1997',
 '2003',
 '1957',
 '2012',
 '1984',
 '2019',
 '1986',
 '1999',
 '2017',
 '2016',
 '1995',
 '1981',
 '2009',
 '2007',
 '1983',
 '1995',
 '1992',
 '1984',
 '2016',
 '1997',
 '2009',
 '1931',
 '2000',
 '1968',
 '1958',
 '2004',
 '1941',
 '1987',
 '2012',
 '1959',
 '1971',
 '2000',
 '2001',
 '1921']

In [14]:
len(moviename),len(rating),len(release)

(100, 100, 100)

In [15]:
#Making DataFrame
df=pd.DataFrame({ 'Moviename': moviename,
                  'Rating': rating,
                  'Year of Release': release})

In [16]:
df

                              Moviename Rating Year of Release
0              The Shawshank Redemption    9.3            1994
1                         The Godfather    9.2            1972
2                The Godfather: Part II      9            1974
3                       The Dark Knight      9            2008
4                          12 Angry Men      9            1957
..                                  ...    ...             ...
95                   North by Northwest    8.3            1959
96                   A Clockwork Orange    8.3            1971
97                               Snatch    8.2            2000
98  Le fabuleux destin d'Amélie Poulain    8.3            2001
99                              The Kid    8.3            1921

[100 rows x 3 columns]

-----

-----

3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of
release) and make data frame

In [17]:
page=requests.get("https://www.imdb.com/list/ls009997493")

In [18]:
page

In [19]:
imdb_indian=BeautifulSoup(page.content)

In [20]:
titles=[]
for movie in imdb_indian.find_all('h3',class_="lister-item-header"):
    titles.append(movie.text.split('\n')[2])
    
titles

['Rang De Basanti',
 '3 Idiots',
 'Taare Zameen Par',
 'Dil Chahta Hai',
 'Swades: We, the People',
 'Lagaan: Once Upon a Time in India',
 'Gangs of Wasseypur',
 'Barfi!',
 'Anand',
 'Munna Bhai M.B.B.S.',
 'A Wednesday',
 'Andaz Apna Apna',
 'Sholay',
 'Bhaag Milkha Bhaag',
 'Hera Pheri',
 'Udaan',
 'Kahaani',
 'Black',
 'Chak De! India',
 'Khosla Ka Ghosla!',
 'Jo Jeeta Wohi Sikandar',
 'Zindagi Na Milegi Dobara',
 'Paan Singh Tomar',
 'Dilwale Dulhania Le Jayenge',
 'Omkara',
 'Lage Raho Munna Bhai',
 'Iqbal',
 'The Lunchbox',
 'Black Friday',
 'Company',
 'Golmaal',
 'Dev.D',
 'Jaane Bhi Do Yaaro',
 'OMG: Oh My God!',
 'Mughal-E-Azam',
 'Gulaal',
 'Dor',
 'Jab We Met',
 'Pyaasa',
 'The Legend of Bhagat Singh',
 'Masoom',
 'Salaam Bombay!',
 'Satya',
 'Vicky Donor',
 'Lakshya',
 'Vaastav: The Reality',
 'Kal Ho Naa Ho',
 'Oye Lucky! Lucky Oye!',
 'Sarfarosh',
 'Gangaajal',
 'Angoor',
 'Madras Cafe',
 'English Vinglish',
 'Chupke Chupke',
 'Johnny Gaddaar',
 'Maqbool',
 'Hazaaron Khwaishein Aisi',
 'Rock On!!',
 'Don',
 'Chhoti Si Baat',
 'Guide',
 'Raanjhanaa',
 'Deewaar',
 'Special Chabbis',
 'Padosan',
 'Mumbai Meri Jaan',
 'Ab Tak Chhappan',
 'Kai po che!',
 'Awaara',
 'Shree 420',
 'Earth',
 'Gunda',
 'Parinda',
 'Dasvidaniya',
 'Hey Ram',
 'Pinjar: Beyond Boundaries...',
 'Socha Na Tha',
 'Guru',
 'Bawarchi',
 'Manorama: Six Feet Under',
 'Mr. India',
 'Aamir',
 'Zakhm',
 'Water',
 'Stanley Ka Dabba',
 'Agneepath',
 'My Name Is Khan',
 'Qayamat Se Qayamat Tak',
 '3 Deewarein',
 'Abhimaan',
 'Sarkar',
 'Bheja Fry',
 'Mother India',
 'Jaane Tu... Ya Jaane Na',
 'Delhi Belly',
 'Wake Up Sid',
 'Rangeela',
 'Shatranj Ke Khilari',
 'Pyaar Ka Punchnama',
 'Ek Hasina Thi']

In [21]:
ratings=[]
for rating in imdb_indian.find_all('div',class_="ipl-rating-star small"):
    ratings.append(rating.text.strip('\n'))
    
ratings

['8.1',
 '8.4',
 '8.4',
 '8.1',
 '8.2',
 '8.1',
 '8.2',
 '8.1',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.2',
 '8.2',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '7.8',
 '8.5',
 '8',
 '8.6',
 '8',
 '8.4',
 '8.1',
 '8.2',
 '8.1',
 '7.9',
 '7.9',
 '8.5',
 '8.1',
 '8.4',
 '8',
 '8.3',
 '7.8',
 '7.9',
 '8',
 '7.9',
 '7.7',
 '8.1',
 '7.8',
 '8.3',
 '7.7',
 '7.8',
 '8.3',
 '7.8',
 '8.1',
 '7.9',
 '7.7',
 '7.8',
 '8.3',
 '8.4',
 '7.6',
 '8.1',
 '8',
 '8.1',
 '7.7',
 '7.8',
 '7.8',
 '7.9',
 '8',
 '7.7',
 '7.3',
 '7.8',
 '7.8',
 '8',
 '8',
 '7.4',
 '7.7',
 '8.1',
 '7.6',
 '7.8',
 '7.7',
 '7.9',
 '7.7',
 '7.8',
 '7.7',
 '8',
 '7.5',
 '7.8',
 '7.9',
 '7.6',
 '7.6',
 '8',
 '7.5',
 '7.6',
 '7.6',
 '7.5',
 '7.7',
 '7.6',
 '7.5']

In [22]:
year=[]
for yr in imdb.find_all('span',class_="lister-item-year text-muted unbold"):
    year.append(yr.text[-5:-1])
    
year

['1994',
 '1972',
 '1974',
 '2008',
 '1957',
 '1993',
 '2003',
 '1994',
 '1966',
 '1999',
 '2019',
 '2001',
 '1994',
 '2010',
 '1980',
 '2002',
 '1999',
 '1975',
 '1990',
 '1954',
 '1995',
 '2002',
 '1997',
 '1991',
 '1977',
 '1946',
 '1998',
 '2001',
 '1999',
 '1994',
 '1962',
 '2014',
 '1995',
 '1994',
 '1998',
 '1985',
 '2002',
 '1936',
 '1991',
 '2011',
 '1960',
 '2000',
 '1931',
 '2006',
 '2014',
 '1968',
 '2006',
 '2019',
 '1942',
 '1988',
 '1954',
 '1988',
 '1979',
 '1981',
 '2000',
 '1979',
 '1940',
 '2006',
 '2018',
 '2012',
 '2018',
 '1980',
 '1957',
 '2008',
 '1950',
 '1964',
 '1997',
 '2003',
 '1957',
 '2012',
 '1984',
 '2019',
 '1986',
 '1999',
 '2017',
 '2016',
 '1995',
 '1981',
 '2009',
 '2007',
 '1983',
 '1995',
 '1992',
 '1984',
 '2016',
 '1997',
 '2009',
 '1931',
 '2000',
 '1968',
 '1958',
 '2004',
 '1941',
 '1987',
 '2012',
 '1959',
 '1971',
 '2000',
 '2001',
 '1921']

In [23]:
len(titles),len(ratings),len(year)

(100, 100, 100)

In [24]:
#Making DataFRame
IMDB_=pd.DataFrame({'Name': titles,
                    'Rating':ratings,
                    'year of release':year})

In [25]:
IMDB_

                      Name Rating year of release
0          Rang De Basanti    8.1            1994
1                 3 Idiots    8.4            1972
2         Taare Zameen Par    8.4            1974
3           Dil Chahta Hai    8.1            2008
4   Swades: We, the People    8.2            1957
..                     ...    ...             ...
95             Wake Up Sid    7.6            1959
96                Rangeela    7.5            1971
97     Shatranj Ke Khilari    7.7            2000
98      Pyaar Ka Punchnama    7.6            2001
99           Ek Hasina Thi    7.5            1921

[100 rows x 3 columns]

-----

-----

4) Write a python program to scrape product name, price and discounts from https://meesho.com/bagsladies/pl/p7vbp .

In [26]:
page=requests.get('https://meesho.com/bags-ladies/pl/p7vbp')

In [27]:
page

In [28]:
meesho=BeautifulSoup(page.content)

In [29]:
name=[]
for product in meesho.find_all('p',class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS"):
    name.append(product.text.split('(')[0])
    
name

['handbags',
 'Stylish Diva Fashion Tote Handbag for Women',
 'STYLISH HAND BAG',
 'AARAYAHI Handled Handbag',
 'STYLISH HANBAG',
 'Stylish Ladies HandBags',
 'SFW Shoulder Stylish Bag for Women ',
 "AZED Collections Women's PU Leather Handbag - Combo Pack of 2 -Tan & Brown ",
 'Handbags',
 'Jute Bags',
 'Stylish Ladies Handbag',
 'HANDBAG FOR GIRLS / HANDBAG FOR WOMEN/ HANDBAG FOR OFFICE',
 'HandBAG',
 'AARAYAHI Handbags with Bow Applique',
 'Rexine Textured Money Clip Women',
 'Trendy Purple Handbags ',
 'BOTTLE SHAPE JUTE BAG',
 'PREMIUM QUALITY WITH BEST PRICE HANDBAGS',
 'Flamebird Beautiful Women Handbags',
 'Global Desi Black Pepper Solid Shoulder Bag Green ']

In [30]:
price=[]
for i in meesho.find_all('h5',class_="Text__StyledText-sc-oo0kvp-0 hiHdyy"):
    price.append(i.text.strip('₹ '))
    
price

['199',
 '260',
 '175',
 '341',
 '434',
 '699',
 '435',
 '585',
 '261',
 '434',
 '244',
 '277',
 '434',
 '314',
 '234',
 '484',
 '105',
 '207',
 '417',
 '1604']

In [31]:
discount=[]
for i in meesho.find_all('p',class_="Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm"):
    discount.append(i.text.replace('discount on',''))
    
discount

['₹85  1st order',
 '₹100  1st order',
 '₹75  1st order',
 '₹100  1st order',
 '₹100  1st order',
 '₹100  1st order',
 '₹100  1st order',
 '₹100  1st order',
 '₹100  1st order',
 '₹100  1st order',
 '₹100  1st order',
 '₹100  1st order',
 '₹100  1st order',
 '₹100  1st order',
 '₹100  1st order',
 '₹100  1st order',
 '₹44  1st order',
 '₹88  1st order',
 '₹100  1st order',
 '₹100  1st order']

In [32]:
len(name),len(price),len(discount)

(20, 20, 20)

In [33]:
#Making DataFrame
meesho_bag=pd.DataFrame({'Product name': name,
                         'Price': price,
                         'Discount': discount})

In [34]:
meesho_bag

                                         Product name Price         Discount
0                                            handbags   199   ₹85  1st order
1         Stylish Diva Fashion Tote Handbag for Women   260  ₹100  1st order
2                                    STYLISH HAND BAG   175   ₹75  1st order
3                            AARAYAHI Handled Handbag   341  ₹100  1st order
4                                      STYLISH HANBAG   434  ₹100  1st order
5                             Stylish Ladies HandBags   699  ₹100  1st order
6                 SFW Shoulder Stylish Bag for Women    435  ₹100  1st order
7   AZED Collections Women's PU Leather Handbag - ...   585  ₹100  1st order
8                                            Handbags   261  ₹100  1st order
9                                           Jute Bags   434  ₹100  1st order
10                             Stylish Ladies Handbag   244  ₹100  1st order
11  HANDBAG FOR GIRLS / HANDBAG FOR WOMEN/ HANDBAG...   277  ₹100  1st order
12                                            HandBAG   434  ₹100  1st order
13                AARAYAHI Handbags with Bow Applique   314  ₹100  1st order
14                   Rexine Textured Money Clip Women   234  ₹100  1st order
15                            Trendy Purple Handbags    484  ₹100  1st order
16                              BOTTLE SHAPE JUTE BAG   105   ₹44  1st order
17           PREMIUM QUALITY WITH BEST PRICE HANDBAGS   207   ₹88  1st order
18                 Flamebird Beautiful Women Handbags   417  ₹100  1st order
19  Global Desi Black Pepper Solid Shoulder Bag Gr...  1604  ₹100  1st order

-----

-----

5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [35]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page

In [36]:
men_team_rank=BeautifulSoup(page.content)

In [37]:
team=[]
for i in men_team_rank.find_all('span',class_="u-hide-phablet"):
    team.append(i.text)
    
team=team[:10]
team

['New Zealand',
 'England',
 'Australia',
 'India',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan']

In [38]:
matches=[]
for i in men_team_rank.find_all('td',class_="table-body__cell u-center-text"):
    matches.append(i.text)
    

matches=matches[0: :2 ]
matches=matches[ :9]
matches

['32', '28', '32', '25', '27', '30', '30', '32', '17']

In [39]:
match_=men_team_rank.find('td',class_="rankings-block__banner--matches")
match_=match_.text
match_

'17'

In [40]:
matches.insert(0,match_)

In [41]:
matches

['17', '32', '28', '32', '25', '27', '30', '30', '32', '17']

In [42]:
points=[]
for i in men_team_rank.find_all('td',class_="table-body__cell u-center-text"):
    points.append(i.text)
    
points=points[1: :2]
points=points[ :9]
points

['3,793',
 '3,244',
 '3,624',
 '2,459',
 '2,524',
 '2,740',
 '2,523',
 '2,657',
 '1,054']

In [43]:
point_=men_team_rank.find('td',class_="rankings-block__banner--points")
point_.text

'2,054'

In [44]:
points.insert(0,point_.text)
points

['2,054',
 '3,793',
 '3,244',
 '3,624',
 '2,459',
 '2,524',
 '2,740',
 '2,523',
 '2,657',
 '1,054']

In [45]:
ratings=[]
for i in men_team_rank.find_all('td',class_="table-body__cell u-text-right rating"):
    ratings.append(i.text)
    
ratings=ratings[:9]
ratings

['119', '116', '113', '98', '93', '91', '84', '83', '62']

In [46]:
rating=men_team_rank.find('td',class_="rankings-block__banner--rating u-text-right")
rating=rating.text.strip('\n     ')    
rating

'121'

In [47]:
ratings.insert(0,rating)
ratings

['121', '119', '116', '113', '98', '93', '91', '84', '83', '62']

In [48]:
len(points),len(matches),len(ratings),len(team)

(10, 10, 10, 10)

In [49]:
#Making DataFrame
ODI_team_rank=pd.DataFrame({'Team':team,
                           'Matches':matches,
                            'Points':points,
                            'Rating':ratings})

In [50]:
ODI_team_rank

           Team Matches Points Rating
0   New Zealand      17  2,054    121
1       England      32  3,793    119
2     Australia      28  3,244    116
3         India      32  3,624    113
4  South Africa      25  2,459     98
5      Pakistan      27  2,524     93
6    Bangladesh      30  2,740     91
7   West Indies      30  2,523     84
8     Sri Lanka      32  2,657     83
9   Afghanistan      17  1,054     62

-----

-----

5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

b) Top 10 ODI Batsmen along with the records of their team and rating.

In [51]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')

In [52]:
bats_man=BeautifulSoup(page.content)

In [53]:
batsmen_names=[]
for i in bats_man.find_all('td',class_="table-body__cell rankings-table__name name"):
    batsmen_names.append(i.text.strip('\n'))
    
batsmen_names=batsmen_names[ :9]
batsmen_names

['Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'David Warner',
 'Shai Hope',
 'Kane Williamson',
 'Quinton de Kock']

In [54]:
len(batsmen_names)

9

In [55]:
name1=bats_man.find('div',class_="rankings-block__banner--name-large")
     
name1=name1.text
name1

'Babar Azam'

In [56]:
batsmen_names.insert(0,name1)
batsmen_names

['Babar Azam',
 'Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'David Warner',
 'Shai Hope',
 'Kane Williamson',
 'Quinton de Kock']

In [57]:
batsmen_team=[]
for i in bats_man.find_all('td',class_="table-body__cell nationality-logo rankings-table__team"):
    batsmen_team.append(i.text.strip('\n'))
    
batsmen_team=batsmen_team[ :9]
batsmen_team

['IND', 'IND', 'NZ', 'AUS', 'ENG', 'AUS', 'WI', 'NZ', 'SA']

In [58]:
batsman=bats_man.find('div',class_="rankings-block__banner--nationality")
batsman=batsman.text[2:5]

batsman

'PAK'

In [59]:
batsmen_team.insert(0,batsman)
batsmen_team

['PAK', 'IND', 'IND', 'NZ', 'AUS', 'ENG', 'AUS', 'WI', 'NZ', 'SA']

In [60]:
ratings=[]
for i in bats_man.find_all('td',class_="table-body__cell rating"):
    ratings.append(i.text)
    
ratings=ratings[ :9]
ratings

['844', '813', '801', '779', '775', '762', '758', '754', '743']

In [61]:
rate=bats_man.find('div',class_="rankings-block__banner--rating")
rate=rate.text
rate

'873'

In [62]:
ratings.insert(0,rate)

In [63]:
ratings

['873', '844', '813', '801', '779', '775', '762', '758', '754', '743']

In [64]:
len(batsmen_names),len(batsmen_team),len(ratings)

(10, 10, 10)

In [65]:
#Making DataFrame
ODI_Batsmen=pd.DataFrame({'Batsmen':batsmen_names,
              'Team':batsmen_team,
              'Rating':ratings
             })

In [66]:
ODI_Batsmen

           Batsmen Team Rating
0       Babar Azam  PAK    873
1      Virat Kohli  IND    844
2     Rohit Sharma  IND    813
3      Ross Taylor   NZ    801
4      Aaron Finch  AUS    779
5   Jonny Bairstow  ENG    775
6     David Warner  AUS    762
7        Shai Hope   WI    758
8  Kane Williamson   NZ    754
9  Quinton de Kock   SA    743

-----

-----

5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

c) Top 10 ODI bowlers along with the records of their team and rating.

In [67]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
page

In [68]:
odi_bow=BeautifulSoup(page.content)

In [69]:
bowler=odi_bow.find('div',class_="rankings-block__banner--name-large")
bowler.text

'Trent Boult'

In [70]:
bow_name=[]

for i in odi_bow.find_all('td',class_="table-body__cell rankings-table__name name"):
                            
    bow_name.append(i.text.strip("  \n"))
    
bow_name=bow_name[ :9]
bow_name

['Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Chris Woakes',
 'Mehedi Hasan',
 'Matt Henry',
 'Jasprit Bumrah',
 'Mitchell Starc',
 'Shakib Al Hasan',
 'Kagiso Rabada']

In [71]:
bow_name.insert(0,bowler.text)

In [72]:
bow_name

['Trent Boult',
 'Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Chris Woakes',
 'Mehedi Hasan',
 'Matt Henry',
 'Jasprit Bumrah',
 'Mitchell Starc',
 'Shakib Al Hasan',
 'Kagiso Rabada']

In [73]:
team=odi_bow.find('div',class_="rankings-block__banner--nationality")
                        
team=team.text.strip("  \n")
team

'NZ'

In [74]:
team_name=[]

for i in odi_bow.find_all('span',class_="table-body__logo-text"):
                            
    team_name.append(i.text)
    
team_name=team_name[ :9]
team_name

['AUS', 'AFG', 'ENG', 'BAN', 'NZ', 'IND', 'AUS', 'BAN', 'SA']

In [75]:
team_name.insert(0,team)

In [76]:
team_name

['NZ', 'AUS', 'AFG', 'ENG', 'BAN', 'NZ', 'IND', 'AUS', 'BAN', 'SA']

In [77]:
rate=odi_bow.find('div',class_="rankings-block__banner--rating")
                        
rate=rate.text
rate

'737'

In [78]:
ratings=[]

for i in odi_bow.find_all('td',class_="table-body__cell rating"):
                            
    ratings.append(i.text)
    

ratings=ratings[ :9]
ratings

['709', '708', '700', '692', '691', '679', '652', '650', '643']

In [79]:
ratings.insert(0,rate)

In [80]:
ratings

['737', '709', '708', '700', '692', '691', '679', '652', '650', '643']

In [81]:
len(bow_name),len(team_name),len(ratings)

(10, 10, 10)

In [82]:
#Making DataFrame
ODI_Bowlers=pd.DataFrame({'Bowlers':bow_name,
                         'Team':team_name,
                         'Ratings':ratings
                         })

In [83]:
ODI_Bowlers

            Bowlers Team Ratings
0       Trent Boult   NZ     737
1    Josh Hazlewood  AUS     709
2  Mujeeb Ur Rahman  AFG     708
3      Chris Woakes  ENG     700
4      Mehedi Hasan  BAN     692
5        Matt Henry   NZ     691
6    Jasprit Bumrah  IND     679
7    Mitchell Starc  AUS     652
8   Shakib Al Hasan  BAN     650
9     Kagiso Rabada   SA     643

-----

-----

-----

6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [84]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
page

In [85]:
team_rank=BeautifulSoup(page.content)

In [86]:
team=[]
for i in team_rank.find_all('span',class_="u-hide-phablet"):
    team.append(i.text)
    
team=team[:11]
team

['Australia',
 'South Africa',
 'England',
 'India',
 'Bangladesh',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Ireland',
 'Sri Lanka',
 'Zimbabwe']

In [87]:
matches=[]
for i in team_rank.find_all('td',class_="table-body__cell u-center-text"):
    matches.append(i.text)
    
matches=matches[0: :2]

In [88]:
matches

['19', '18', '17', '5', '19', '19', '18', '5', '5', '7']

In [89]:
match=team_rank.find('td',class_="rankings-block__banner--matches")
match.text

'17'

In [90]:
matches.insert(0,match.text)

In [91]:
matches

['17', '19', '18', '17', '5', '19', '19', '18', '5', '5', '7']

In [92]:
points=[]
for i in team_rank.find_all('td',class_="table-body__cell u-center-text"):
    points.append(i.text)
    
points=points[1: :2]

In [93]:
points

['2,307',
 '2,148',
 '1,899',
 '475',
 '1,668',
 '1,658',
 '1,226',
 '240',
 '233',
 '0']

In [94]:
point=team_rank.find('td',class_="rankings-block__banner--points")
point.text

'2,746'

In [95]:
points.insert(0,point.text)

In [96]:
points

['2,746',
 '2,307',
 '2,148',
 '1,899',
 '475',
 '1,668',
 '1,658',
 '1,226',
 '240',
 '233',
 '0']

In [97]:
ratings=[]
for i in team_rank.find_all('td',class_="table-body__cell u-text-right rating"):
    ratings.append(i.text)
    
ratings

['121', '119', '112', '95', '88', '87', '68', '48', '47', '0']

In [98]:
rating=team_rank.find('td',class_="rankings-block__banner--rating u-text-right")
rating=rating.text.strip('      \n')
rating

'162'

In [99]:
ratings.insert(0,rating)

In [100]:
ratings

['162', '121', '119', '112', '95', '88', '87', '68', '48', '47', '0']

In [101]:
len(ratings),len(points),len(matches),len(team)

(11, 11, 11, 11)

In [102]:
#Making DataFrame
ODI_t_womens=pd.DataFrame({'Team':team,
                           'Matches':matches,
                          'Points':points,
                           'Ratings':ratings})

In [103]:
ODI_t_womens

            Team Matches Points Ratings
0      Australia      17  2,746     162
1   South Africa      19  2,307     121
2        England      18  2,148     119
3          India      17  1,899     112
4     Bangladesh       5    475      95
5    New Zealand      19  1,668      88
6    West Indies      19  1,658      87
7       Pakistan      18  1,226      68
8        Ireland       5    240      48
9      Sri Lanka       5    233      47
10      Zimbabwe       7      0       0

-----

-----

6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [104]:
page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
page

In [105]:
batt_ply=BeautifulSoup(page.content)

In [106]:
names=[]
for i in batt_ply.find_all('td',class_="table-body__cell name"):
    names.append(i.text.strip('\n'))
    
names=names[: 9]
names

['Alyssa Healy',
 'Mithali Raj',
 'Tammy Beaumont',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Meg Lanning',
 'Beth Mooney',
 'Stafanie Taylor',
 'Heather Knight']

In [107]:
name=batt_ply.find('div',class_="rankings-block__banner--name")
name.text

'Lizelle Lee'

In [108]:
names.insert(0,name.text)
names

['Lizelle Lee',
 'Alyssa Healy',
 'Mithali Raj',
 'Tammy Beaumont',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Meg Lanning',
 'Beth Mooney',
 'Stafanie Taylor',
 'Heather Knight']

In [109]:
teams=[]
for i in batt_ply.find_all('span',class_="table-body__logo-text"):
    teams.append(i.text)
    
teams=teams[:9]
teams

['AUS', 'IND', 'ENG', 'NZ', 'IND', 'AUS', 'AUS', 'WI', 'ENG']

In [110]:
team=batt_ply.find('div',class_="rankings-block__banner--nationality")
team=team.text[2:4]
team

'SA'

In [111]:
teams.insert(0,team)
teams

['SA', 'AUS', 'IND', 'ENG', 'NZ', 'IND', 'AUS', 'AUS', 'WI', 'ENG']

In [112]:
ratings=[]
for i in batt_ply.find_all('td',class_="table-body__cell u-text-right rating"):
    ratings.append(i.text)
    
ratings=ratings[ :9]
ratings

['750', '738', '728', '717', '710', '699', '690', '676', '674']

In [113]:
rating=batt_ply.find('div',class_="rankings-block__banner--rating")
rating.text

'761'

In [114]:
ratings.insert(0,rating.text)

In [115]:
ratings

['761', '750', '738', '728', '717', '710', '699', '690', '676', '674']

In [116]:
len(ratings),len(teams),len(names)

(10, 10, 10)

In [117]:
#Making DataFrame
Batting_players=pd.DataFrame({'Players Name':names,
                              'Teams': teams,
                              'Ratings': ratings})

In [118]:
Batting_players

        Players Name Teams Ratings
0        Lizelle Lee    SA     761
1       Alyssa Healy   AUS     750
2        Mithali Raj   IND     738
3     Tammy Beaumont   ENG     728
4  Amy Satterthwaite    NZ     717
5    Smriti Mandhana   IND     710
6        Meg Lanning   AUS     699
7        Beth Mooney   AUS     690
8    Stafanie Taylor    WI     676
9     Heather Knight   ENG     674

-----

-----

6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

c) Top 10 women’s ODI all-rounder along with the records of their team and rating

In [119]:
page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
page

In [120]:
all_roun=BeautifulSoup(page.content)

In [121]:
names_all=[]
for i in all_roun.find_all('td',class_="table-body__cell rankings-table__name name"):
    names_all.append(i.text.strip('\n'))
    

names_all=names_all[ :9]
names_all

['Natalie Sciver',
 'Ellyse Perry',
 'Stafanie Taylor',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Dane van Niekerk',
 'Hayley Matthews',
 'Jess Jonassen',
 'Katherine Brunt']

In [122]:
name_=all_roun.find('div',class_="rankings-block__banner--name-large")
name_.text

'Marizanne Kapp'

In [123]:
names_all.insert(0,name_.text)
names_all

['Marizanne Kapp',
 'Natalie Sciver',
 'Ellyse Perry',
 'Stafanie Taylor',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Dane van Niekerk',
 'Hayley Matthews',
 'Jess Jonassen',
 'Katherine Brunt']

In [124]:
teams_all=[]
for i in all_roun.find_all('span',class_="table-body__logo-text"):
    teams_all.append(i.text)
    
teams_all=teams_all[ :9]
teams_all

['ENG', 'AUS', 'WI', 'IND', 'AUS', 'SA', 'WI', 'AUS', 'ENG']

In [125]:
team_=all_roun.find('div',class_="rankings-block__banner--nationality")
team_=team_.text.strip('\n')[ :2]
team_

'SA'

In [126]:
teams_all.insert(0,team_)
teams_all

['SA', 'ENG', 'AUS', 'WI', 'IND', 'AUS', 'SA', 'WI', 'AUS', 'ENG']

In [127]:
ratings_all=[]
for i in all_roun.find_all('td',class_="table-body__cell rating"):
    ratings_all.append(i.text)
    
ratings_all=ratings_all[ :9]
ratings_all

['372', '365', '319', '299', '275', '274', '272', '272', '272']

In [128]:
rating_=all_roun.find('div',class_="rankings-block__banner--rating")
rating_=rating_.text
rating_

'384'

In [129]:
ratings_all.insert(0,rating_)
ratings_all

['384', '372', '365', '319', '299', '275', '274', '272', '272', '272']

In [130]:
len(names_all),len(teams_all),len(ratings_all)

(10, 10, 10)

In [131]:
#Making DataFrame
ODI_allrounder=pd.DataFrame({'Players':names_all,
                             'Team':teams_all,
                             'Rating': ratings_all})

In [132]:
ODI_allrounder

            Players Team Rating
0    Marizanne Kapp   SA    384
1    Natalie Sciver  ENG    372
2      Ellyse Perry  AUS    365
3   Stafanie Taylor   WI    319
4     Deepti Sharma  IND    299
5  Ashleigh Gardner  AUS    275
6  Dane van Niekerk   SA    274
7   Hayley Matthews   WI    272
8     Jess Jonassen  AUS    272
9   Katherine Brunt  ENG    272

7) Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content
and the code for the video from the link for the youtube video from the post.

In [133]:
page=requests.get('https://coreyms.com/')
page

In [134]:
cory=BeautifulSoup(page.content)

In [135]:
heading=[]
for i in cory.find_all('a',class_="entry-title-link"):
    heading.append(i.text)
    
heading

['Python Tutorial: Zip Files – Creating and Extracting Zip Archives',
 'Python Data Science Tutorial: Analyzing the 2019 Stack Overflow Developer Survey',
 'Python Multiprocessing Tutorial: Run Code in Parallel Using the Multiprocessing Module',
 'Python Threading Tutorial: Run Code Concurrently Using the Threading Module',
 'Update (2019-09-03)',
 'Python Quick Tip: The Difference Between “==” and “is” (Equality vs Identity)',
 'Python Tutorial: Calling External Commands Using the Subprocess Module',
 'Visual Studio Code (Windows) – Setting up a Python Development Environment and Complete Overview',
 'Visual Studio Code (Mac) – Setting up a Python Development Environment and Complete Overview',
 'Clarifying the Issues with Mutable Default Arguments']

In [136]:
date=[]
for i in cory.find_all('time',class_="entry-time"):
    date.append(i.text)
    
date

['November 19, 2019',
 'October 17, 2019',
 'September 21, 2019',
 'September 12, 2019',
 'September 3, 2019',
 'August 6, 2019',
 'July 24, 2019',
 'May 1, 2019',
 'May 1, 2019',
 'April 24, 2019']

In [137]:
content=[]
for i in cory.find_all('div',class_="entry-content"):
    content.append(i.text)
    
content

['\nIn this video, we will be learning how to create and extract zip archives. We will start by using the zipfile module, and then we will see how to do this using the shutil module. We will learn how to do this with single files and directories, as well as learning how to use gzip as well. Let’s get started…\n\n',
 '\nIn this Python Programming video, we will be learning how to download and analyze real-world data from the 2019 Stack Overflow Developer Survey. This is terrific practice for anyone getting into the data science field. We will learn different ways to analyze this data and also some best practices. Let’s get started…\n\n\n\n',
 '\nIn this Python Programming video, we will be learning how to run code in parallel using the multiprocessing module. We will also look at how to process multiple high-resolution images at the same time using a ProcessPoolExecutor from the concurrent.futures module. Let’s get started…\n\n\n\n',
 '\nIn this Python Programming video, we will be learning how to run threads concurrently using the threading module. We will also look at how to download multiple high-resolution images online using a ThreadPoolExecutor from the concurrent.futures module. Let’s get started…\n\n\n\n',
 '\nHey everyone. I wanted to give you an update on my videos. I will be releasing videos on threading and multiprocessing within the next week. Thanks so much for your patience. I currently have a temporary recording studio setup at my Airbnb that will allow me to record and edit the threading/multiprocessing videos. I am going to be moving into my new house in 10 days and once I have my recording studio setup then you can expect much faster video releases. I really appreciate how patient everyone has been while I go through this move, especially those of you who are contributing monthly through YouTube \n',
 '\nIn this Python Programming Tutorial, we will be learning the difference between using “==” and the “is” keyword when doing comparisons. The difference between these is that “==” checks to see if values are equal, and the “is” keyword checks their identity, which means it’s going to check if the values are identical in terms of being the same object in memory. We’ll learn more in the video. Let’s get started…\n\n\n\n',
 '\nIn this Python Programming Tutorial, we will be learning how to run external commands using the subprocess module from the standard library. We will learn how to run commands, capture the output, handle errors, and also how to pipe output into other commands. Let’s get started…\n\n\n\n',
 '\nIn this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on Windows. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started…\nVSCode on MacOS – https://youtu.be/06I63_p-2A4\nTimestamps for topics in this tutorial: Installation – 1:13 Python Extension – 5:48 Switching Interpreters – 10:04 Changing Color Themes – 12:35 VSCode Settings – 16:16 Set Default Python – 21:33 Using Virtual Environments – 25:10 IntelliSense – 29:45 Code Formatting – 32:13 Code Linting – 37:06 Code Runner Extension – 39:42 Git Integration – 47:44 Use Different Terminal – 51:07 Debugging – 58:45 Unit Testing – 1:03:25 Zen Mode – 1:09:55\n\n\n\n',
 '\nIn this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on MacOS. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started…\nVSCode on Windows – https://youtu.be/-nh9rCzPJ20\nTimestamps for topics in this tutorial: Installation – 1:11 Python Extension – 6:21 Switching Interpreters – 10:16 Changing Color Themes – 13:08 VSCode Settings – 17:12 Set Default Python – 22:24 Using Virtual Environments – 25:52 IntelliSense – 30:28 Code Formatting – 33:08 Code Linting – 38:01 Code Runner Extension – 40:45 Git Integration – 49:05 Debugging – 58:15 Unit Testing – 1:02:38 Zen Mode – 1:10:42 \n\n\n\n',
 '\nIn this Python Programming Tutorial, we will be clarifying the issues with mutable default arguments. We discussed this in my last video titled “5 Common Python Mistakes and How to Fix Them”, but I received many comments from people who were still confused. So we will be doing a deeper dive to explain exactly what is going on here. Let’s get started…\n\n\n\n']

In [138]:
video_code=[]
for i in cory.find_all('iframe',class_="youtube-player"):
    video_code.append(i['src'])
    
video_code

['https://www.youtube.com/embed/z0gguhEmWiY?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/_P7X8tMplsw?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/fKl2JW_qrso?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/IEEhzQoKtQU?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/mO_dS3rXDIs?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/2Fp1N6dof0Y?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/-nh9rCzPJ20?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/06I63_p-2A4?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/_JGmemuINww?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent']

In [139]:
video_code.insert(4,'Video will be coming soon')

In [140]:
video_code

['https://www.youtube.com/embed/z0gguhEmWiY?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/_P7X8tMplsw?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/fKl2JW_qrso?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/IEEhzQoKtQU?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'Video will be coming soon',
 'https://www.youtube.com/embed/mO_dS3rXDIs?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/2Fp1N6dof0Y?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/-nh9rCzPJ20?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/06I63_p-2A4?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/_JGmemuINww?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent']

In [141]:
len(heading),len(date),len(content),len(video_code)

(10, 10, 10, 10)

In [142]:
#Making DataFrame
coryms=pd.DataFrame({'Heading':heading,
                     'Date':date,
                     'Content':content,
                      'Video code':video_code
                    })

In [143]:
coryms

,Heading,Date,Content,Video code
0,Python Tutorial: Zip Files – Creating and Extr...,"November 19, 2019","\nIn this video, we will be learning how to cr...",https://www.youtube.com/embed/z0gguhEmWiY?vers...
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","\nIn this Python Programming video, we will be...",https://www.youtube.com/embed/_P7X8tMplsw?vers...
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","\nIn this Python Programming video, we will be...",https://www.youtube.com/embed/fKl2JW_qrso?vers...
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","\nIn this Python Programming video, we will be...",https://www.youtube.com/embed/IEEhzQoKtQU?vers...
4,Update (2019-09-03),"September 3, 2019",\nHey everyone. I wanted to give you an update...,Video will be coming soon
5,Python Quick Tip: The Difference Between “==” ...,"August 6, 2019","\nIn this Python Programming Tutorial, we will...",https://www.youtube.com/embed/mO_dS3rXDIs?vers...
6,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","\nIn this Python Programming Tutorial, we will...",https://www.youtube.com/embed/2Fp1N6dof0Y?vers...
7,Visual Studio Code (Windows) – Setting up a Py...,"May 1, 2019","\nIn this Python Programming Tutorial, we will...",https://www.youtube.com/embed/-nh9rCzPJ20?vers...
8,Visual Studio Code (Mac) – Setting up a Python...,"May 1, 2019","\nIn this Python Programming Tutorial, we will...",https://www.youtube.com/embed/06I63_p-2A4?vers...
9,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","\nIn this Python Programming Tutorial, we will...",https://www.youtube.com/embed/_JGmemuINww?vers...

-----

-----

8) Write a python program to scrape house details from mentioned URL. It should include house title, location,
area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, 
Rajaji Nagar.

In [144]:
page=requests.get("https://www.nobroker.in/property/sale/chennai/multiple?searchParam=W3sibGF0IjoxMy4xMTIyNjc3LCJsb24iOjgwLjIwODcyNjUsInBsYWNlSWQiOiJDaElKWTZaNmhFSmtVam9SQ2MyZk9vcEg2dTAiLCJwbGFjZU5hbWUiOiJSYWphamkgTmFnYXIifSx7ImxhdCI6MTIuOTkxNjYzLCJsb24iOjgwLjI1MjQyMzEsInBsYWNlSWQiOiJDaElKRFFhUmpZcG5Vam9SN3F3OHlTX1M5a0EiLCJwbGFjZU5hbWUiOiJJbmRpcmEgTmFnYXIifSx7ImxhdCI6MTIuODkwNDIsImxvbiI6ODAuMTg0NTUyLCJwbGFjZUlkIjoiQ2hJSlc3QVdpRlpaVWpvUk5lSUZzSVNPMktvIiwicGxhY2VOYW1lIjoiSmF5YSBOYWdhciJ9XQ==&radius=2.0&city=chennai&locality=Rajaji%20Nagar,&locality=Indira%20Nagar,&locality=Jaya%20Nagar")
page

In [145]:
House=BeautifulSoup(page.content)

In [146]:
house_title=[]
for i in House.find_all('h2',class_="heading-6 font-semi-bold nb__25Cl7"):
    house_title.append(i.text)
    
house_title

['2 BHK Flat  For Sale  In Sai Villa In Sithalapakkam ',
 '2 BHK Flat  For Sale  In Sithalapakkam ',
 '2 BHK Flat  For Sale  In Amudha Delight, Vivekanandha Nagar Extention Sithalapakkam In Sithalapakkam ',
 '2 BHK Flat  For Sale  In Malayanoor Foundations  In Sithalapakkam ',
 '2 BHK Flat  For Sale  In Sithalapakkam ',
 '3 BHK In Independent House  For Sale  In Sithalapakkam ',
 '2 BHK Flat  For Sale  In Sai Shridi In Sithalapakkam ',
 '2 BHK Flat  For Sale  In Kumaran Kutil In Sithalapakkam ',
 '2 BHK Flat  For Sale  In Standalone Apartment In Sithalapakkam ',
 '2 BHK Flat  For Sale  In Jasmine Cort In Sithalapakkam ',
 '3 BHK Flat  For Sale  In Amudhas Blossom, Vivekananda Nagar  In Sithalapakkam ',
 '3 BHK Flat  For Sale  In Aravind Flats In Sithalapakkam ',
 '3 BHK Flat  For Sale  In Selvamani Associates In Sithalapakkam ',
 '2 BHK Flat  For Sale  In Pavitra Flats In Sithalapakkam ',
 '1 BHK In Independent House  For Sale  In Sithalapakkam ',
 '4 BHK In Independent House  For Sale  In Sithalapakkam ',
 '2 BHK Flat  For Sale  In Sai Thiruvenkattam In Sithalapakkam ',
 '1 BHK Flat  For Sale  In Dev Gupta Appartment In Sithalapakkam ',
 '1 BHK Flat  For Sale  In Kavya Builders In Sithalapakkam Panchayat Office ',
 '3 BHK In Independent House  For Sale  In Sithalapakkam ',
 '1 BHK In Independent House  For Sale  In Sithalapakam Post Office ',
 '3 BHK Flat  For Sale  In Kashwini In Sithalapakkam ',
 '2 BHK Flat  For Sale  In Amudha Nicolas In Sithalapakkam ',
 '2 BHK In Independent House  For Sale  In Periyapanicheri, Gerugambakkam ',
 '2 BHK Flat  For Sale  In Apartment  In Sithalapakkam ']

In [147]:
location=[]
for i in House.find_all('div',class_="nb__1EwQz"):
    location.append(i.text)
    
location

['second street , venbave avenue',
 'Standalone Building, Near Jaya Nagar Bus Stop',
 'amudha civil construction pvt ltd',
 'Jayanagar near City Union Bank',
 'Standalone Building, vivekanadha nagar, Near Indian Overseas Bank',
 'Independent House, TNHB Colony near RV Matriculation School',
 'Ottiambakkam Main Rd, Near City Union Bank',
 'Mambakkam Village near Indian Overseas Bank, ',
 'Plot No16  near Sri Matha Clinic Vinobha Nagar Sithalapakkam Chennai',
 'Vivekananda Nagar Main Rd, Near Lord Ganesh Temple',
 'Near Jaya nagar bus Stop, Plot no.206, Vivekanandha Nagar, Sithalapakkam, Chennai, Tamil nadu, INDIA.',
 'Meigai Vinayagar Kovil street ,Sithalapakkam,near RV MATRICULATION SCHOOL ',
 'Srinivasa Nagar near Sithalapakkam Panchayat Office',
 'Meigai Vinayagar Kovil St, Near R. V. Matriculation School,',
 'Independent House, Vivekananda Street, Jayanagar, Near Amudha Blossom',
 'Independent House, mangalyan poonga street,Near Apollo Pharmacy',
 'vivekananda nagar',
 'Ambal Nagar, near Sithalapakkam Panchayat Office and Sithalapakam Post Office',
 'Basil avenue, Kavya apartments, Opposite lane to citi union bank, Sithalapakkam',
 'Independent House\xa0 Independent House, Jothi Mangalam phase 2,Near Sithalapakkam Panchayat Office',
 'sithalapakam ration shop',
 'Ottiambakkam Main Rd, Devlaxmi Nagar, near  Manjal',
 'Valluvar Nagar, Ottiyambakkam Main Road near  Manjal',
 'Independent House, G.TKrishnan Avenue',
 'Ottiambakkam Main Rd near Sithalapakkam VAO Office']

In [148]:
len(location)

25

In [149]:
area=[]
for i in House.find_all('div',class_="nb__FfHqA"):
    area.append(i.text.split(' ')[0])
    
area

['873',
 '1,055',
 '979',
 '1,074',
 '939',
 '1,135',
 '939',
 '890',
 '661',
 '1,100',
 '1,450',
 '1,103',
 '1,250',
 '923',
 '600',
 '2,500',
 '851',
 '578',
 '605',
 '1,840',
 '900',
 '1,850',
 '856',
 '1,100',
 '870']

In [150]:
emi=[]
for i in House.find_all('div',class_="nb__4L90a"): 
    emi.append(i.text.split('/')[0])    
emi=emi[2: :4]
emi=emi[:26]
emi

['₹22,925',
 '₹28,657',
 '₹28,459',
 '₹22,925',
 '₹31,522',
 '₹22,925',
 '₹25,791',
 '₹18,340',
 '₹17,194',
 '₹22,925',
 '₹37,254',
 '₹28,657',
 '₹34,388',
 '₹24,072',
 '₹18,340',
 '₹63,045',
 '₹22,925',
 '₹12,609',
 '₹13,182',
 '₹52,729',
 '₹25,791',
 '₹65,911',
 '₹18,340',
 '₹57,314',
 '₹22,925']

In [151]:
price=[]
for i in House.find_all('div',class_="font-semi-bold heading-6"):
    price.append(i.text)
    
price=price[2::3]
price=price[ :26]
price

['₹40 Lacs',
 '₹50 Lacs',
 '₹49.66 Lacs',
 '₹40 Lacs',
 '₹55 Lacs',
 '₹40 Lacs',
 '₹45 Lacs',
 '₹32 Lacs',
 '₹30 Lacs',
 '₹40 Lacs',
 '₹65 Lacs',
 '₹50 Lacs',
 '₹60 Lacs',
 '₹42 Lacs',
 '₹32 Lacs',
 '₹1.1 Crores',
 '₹40 Lacs',
 '₹22 Lacs',
 '₹23 Lacs',
 '₹92 Lacs',
 '₹45 Lacs',
 '₹1.15 Crores',
 '₹32 Lacs',
 '₹1 Crore',
 '₹40 Lacs']

In [152]:
len(house_title),len(location),len(area),len(emi),len(price)

(25, 25, 25, 25, 25)

In [153]:
#Making DataFrame
Housing=pd.DataFrame({'House_ title': house_title,
                      'Location':location,
                      'Area':area,
                      'EMI': emi,
                      'Price':price})

In [154]:
Housing

,House_ title,Location,Area,EMI,Price
0,2 BHK Flat For Sale In Sai Villa In Sithalap...,"second street , venbave avenue",873,"₹22,925",₹40 Lacs
1,2 BHK Flat For Sale In Sithalapakkam,"Standalone Building, Near Jaya Nagar Bus Stop","1,055","₹28,657",₹50 Lacs
2,"2 BHK Flat For Sale In Amudha Delight, Vivek...",amudha civil construction pvt ltd,979,"₹28,459",₹49.66 Lacs
3,2 BHK Flat For Sale In Malayanoor Foundation...,Jayanagar near City Union Bank,"1,074","₹22,925",₹40 Lacs
4,2 BHK Flat For Sale In Sithalapakkam,"Standalone Building, vivekanadha nagar, Near I...",939,"₹31,522",₹55 Lacs
5,3 BHK In Independent House For Sale In Sitha...,"Independent House, TNHB Colony near RV Matricu...","1,135","₹22,925",₹40 Lacs
6,2 BHK Flat For Sale In Sai Shridi In Sithala...,"Ottiambakkam Main Rd, Near City Union Bank",939,"₹25,791",₹45 Lacs
7,2 BHK Flat For Sale In Kumaran Kutil In Sith...,"Mambakkam Village near Indian Overseas Bank,",890,"₹18,340",₹32 Lacs
8,2 BHK Flat For Sale In Standalone Apartment ...,Plot No16 near Sri Matha Clinic Vinobha Nagar...,661,"₹17,194",₹30 Lacs
9,2 BHK Flat For Sale In Jasmine Cort In Sitha...,"Vivekananda Nagar Main Rd, Near Lord Ganesh Te...","1,100","₹22,925",₹40 Lacs
10,"3 BHK Flat For Sale In Amudhas Blossom, Vive...","Near Jaya nagar bus Stop, Plot no.206, Vivekan...","1,450","₹37,254",₹65 Lacs
11,3 BHK Flat For Sale In Aravind Flats In Sith...,"Meigai Vinayagar Kovil street ,Sithalapakkam,n...","1,103","₹28,657",₹50 Lacs
12,3 BHK Flat For Sale In Selvamani Associates ...,Srinivasa Nagar near Sithalapakkam Panchayat O...,"1,250","₹34,388",₹60 Lacs
13,2 BHK Flat For Sale In Pavitra Flats In Sith...,"Meigai Vinayagar Kovil St, Near R. V. Matricul...",923,"₹24,072",₹42 Lacs
14,1 BHK In Independent House For Sale In Sitha...,"Independent House, Vivekananda Street, Jayanag...",600,"₹18,340",₹32 Lacs
15,4 BHK In Independent House For Sale In Sitha...,"Independent House, mangalyan poonga street,Nea...","2,500","₹63,045",₹1.1 Crores
16,2 BHK Flat For Sale In Sai Thiruvenkattam In...,vivekananda nagar,851,"₹22,925",₹40 Lacs
17,1 BHK Flat For Sale In Dev Gupta Appartment ...,"Ambal Nagar, near Sithalapakkam Panchayat Offi...",578,"₹12,609",₹22 Lacs
18,1 BHK Flat For Sale In Kavya Builders In Sit...,"Basil avenue, Kavya apartments, Opposite lane ...",605,"₹13,182",₹23 Lacs
19,3 BHK In Independent House For Sale In Sitha...,"Independent House Independent House, Jothi Ma...","1,840","₹52,729",₹92 Lacs
20,1 BHK In Independent House For Sale In Sitha...,sithalapakam ration shop,900,"₹25,791",₹45 Lacs
21,3 BHK Flat For Sale In Kashwini In Sithalapa...,"Ottiambakkam Main Rd, Devlaxmi Nagar, near Ma...","1,850","₹65,911",₹1.15 Crores
22,2 BHK Flat For Sale In Amudha Nicolas In Sit...,"Valluvar Nagar, Ottiyambakkam Main Road near ...",856,"₹18,340",₹32 Lacs
23,2 BHK In Independent House For Sale In Periy...,"Independent House, G.TKrishnan Avenue","1,100","₹57,314",₹1 Crore
24,2 BHK Flat For Sale In Apartment In Sithala...,Ottiambakkam Main Rd near Sithalapakkam VAO Of...,870,"₹22,925",₹40 Lacs

-----

-----

9) Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [155]:
page=requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")
page

In [156]:
Dineout=BeautifulSoup(page.content)

In [157]:
rest_name=[]
for i in Dineout.find_all('a',class_="restnt-name ellipsis"):
    rest_name.append(i.text)
    
rest_name

['Castle Barbeque',
 'Jungle Jamboree',
 'Castle Barbeque',
 'Cafe Knosh',
 'The Barbeque Company',
 'India Grill',
 'Delhi Barbeque',
 'The Monarch - Bar Be Que Village',
 'World Cafe',
 'Indian Grill Room',
 'Mad 4 Bar B Que',
 'Barbeque 29',
 'Glasshouse']

In [158]:
cuisine=[]

for i in Dineout.find_all('span',class_="double-line-ellipsis"):
    cuisine.append(i.text.split('|')[1])
    
cuisine

[' Chinese, North Indian',
 ' Barbecue, North Indian, Asian, Italian',
 ' Chinese, North Indian',
 ' Multi-Cuisine, North Indian, Italian, Continental, Mediterranean',
 ' Barbecue, Chinese, Mughlai, North Indian',
 ' North Indian, Italian, Oriental ',
 ' Barbecue, North Indian',
 ' North Indian, Chinese, Fast Food',
 ' North Indian, Chinese, Continental',
 ' North Indian, Mughlai, Barbecue',
 ' North Indian, Mughlai',
 ' North Indian, Chinese, Barbecue',
 ' Multi-Cuisine, Asian, European, Italian, North Indian']

In [159]:
location=[]
for i in Dineout.find_all('div',class_="restnt-loc ellipsis"):
        location.append(i.text)

location

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Vibe by The Lalit Traveller,Sector 35, Faridabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon',
 'Sector 29, Faridabad',
 'NIT, Faridabad',
 'DoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

In [160]:
ratings=[]
for i in Dineout.find_all('div',class_="restnt-rating rating-4"):
    ratings.append(i.text)
    
ratings

['3.5',
 '3.9',
 '4',
 '4.3',
 '4',
 '3.9',
 '3.7',
 '3.9',
 '4.2',
 '4.3',
 '3.7',
 '4.3',
 '4.1']

In [161]:
image=[]
for i in Dineout.find_all('img',class_="no-img"):
    image.append(i['data-src'])
    
image

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/a/k/p59633-16046474755fa4fa33c0e92.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/j/v/p406-163401663361651d79326d0.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/q/d/p79307-16051787075fad15532bd7c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/v/f/p52501-16006856545f68865616659.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/p/y/p12366-1466935020576fa6ecdc359.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/y/p549-15143767525a438e30b3e19.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/j/e/p43488-15295778165b2b8158ceeef.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/w/r/p58842-15624171585d209806d9143.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/m/f/p9875-16057921085fb6716cc44f8.jpg?tr=tr:n-medium']

In [162]:
len(rest_name),len(cuisine),len(location),len(ratings),len(image)

(13, 13, 13, 13, 13)

In [163]:
#Making DataFrame
Restaurant_Delhi=pd.DataFrame({'Restaurant name':rest_name,
                               'Cuisine':cuisine,
                               'Location':location,
                                'Ratings': ratings,
                                'Image URL': image})

In [164]:
Restaurant_Delhi.head()

,Restaurant name,Cuisine,Location,Ratings,Image URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",3.5,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"Barbecue, North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"Multi-Cuisine, North Indian, Italian, Contine...","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"Barbecue, Chinese, Mughlai, North Indian","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...

-----

-----

10) Write a python program to scrape first 10 product details which include product name , price , Image URL from
https://www.bewakoof.com/women-tshirts?ga_q=tshirts .

In [165]:
page=requests.get('https://www.bewakoof.com/women-tshirts')

page

In [166]:
Bewakoof=BeautifulSoup(page.content)

In [167]:
product_name=[]
for i in Bewakoof.find_all('h3',id=""):
    product_name.append(i.text)
    
product_name=product_name

In [168]:
product_name=product_name[ :10]
product_name

['Harley Quinn Half Sleeve T-Shirt Black (BML)',
 'Inner Peace Half Sleeve Printed T-Shirt Black',
 'Simply Pawfect Half Sleeve T-Shirt (DL) Tropical blue',
 'Pakka Local Half Sleeve T-Shirt',
 'Butta Bomma Half Sleeve T-Shirt',
 'Ooko Bey Half Sleeve T-Shirt',
 'Shanti Minimal Half Sleeve T-Shirt',
 'Beach Blue Half Sleeve T-Shirt',
 'Lal Matir Pothe Half Sleeve T-Shirt',
 'Andhokar Half Sleeve T-Shirt']

In [170]:
price=[]
for i in Bewakoof.find_all('div',class_="productPriceBox clearfix"):
    price.append(i.text[0:5].strip("₹"))
    
price

[' 199',
 ' 249',
 ' 199',
 ' 249',
 ' 249',
 ' 199',
 ' 199',
 ' 249',
 ' 199',
 ' 199']

In [171]:
images=[]
for i in Bewakoof.find_all('img',class_="productImgTag" ):
    images.append(i['src'])
    
images

['https://images.bewakoof.com/t320/harley-quinn-half-sleeve-t-shirts-bml-women-s-half-sleeve-printed-t-shirt-295570-1604725441.jpg',
 'https://images.bewakoof.com/t320/inner-peace-half-sleeve-printed-t-shirts-black-women-s-half-sleeve-printed-t-shirt-295708-1604135493.jpg',
 'https://images.bewakoof.com/t320/simply-pawfect-half-sleeve-t-shirt-dl-tropical-blue-women-s-half-sleeve-printed-t-shirt-295812-1604292711.jpg',
 'https://images.bewakoof.com/t320/pakka-local-half-sleeve-t-shirt-women-s-half-sleeve-printed-t-shirt-300903-1608011170.jpg',
 'https://images.bewakoof.com/t320/butta-bomma-half-sleeve-t-shirt-women-s-half-sleeve-printed-t-shirt-300922-1608009783.jpg',
 'https://images.bewakoof.com/t320/ooko-bey-half-sleeve-t-shirt-women-s-half-sleeve-printed-t-shirt-300923-1608119657.jpg',
 'https://images.bewakoof.com/t320/shanti-minimal-half-sleeve-t-shirt-women-s-half-sleeve-printed-t-shirt-300902-1608011281.jpg',
 'https://images.bewakoof.com/t320/aqua-sky-half-sleeve-t-shirt-women-s-plain-half-sleeves-t-shirt-329413-1614350444.jpg',
 'https://images.bewakoof.com/t320/lal-matir-pothe-half-sleeve-t-shirt-women-s-half-sleeve-printed-t-shirt-329665-1614079154.jpg',
 'https://images.bewakoof.com/t320/andhokar-half-sleeve-t-shirt-women-s-half-sleeve-printed-t-shirt-329628-1614076846.jpg']

In [172]:
len(product_name),len(price),len(images)

(10, 10, 10)

In [173]:
#Making DataFrame
Bewakoof=pd.DataFrame({'Product name': product_name,
                        'Price': price,
                        'Images':images
                      })

In [174]:
Bewakoof

,Product name,Price,Images
0,Harley Quinn Half Sleeve T-Shirt Black (BML),199,https://images.bewakoof.com/t320/harley-quinn-...
1,Inner Peace Half Sleeve Printed T-Shirt Black,249,https://images.bewakoof.com/t320/inner-peace-h...
2,Simply Pawfect Half Sleeve T-Shirt (DL) Tropic...,199,https://images.bewakoof.com/t320/simply-pawfec...
3,Pakka Local Half Sleeve T-Shirt,249,https://images.bewakoof.com/t320/pakka-local-h...
4,Butta Bomma Half Sleeve T-Shirt,249,https://images.bewakoof.com/t320/butta-bomma-h...
5,Ooko Bey Half Sleeve T-Shirt,199,https://images.bewakoof.com/t320/ooko-bey-half...
6,Shanti Minimal Half Sleeve T-Shirt,199,https://images.bewakoof.com/t320/shanti-minima...
7,Beach Blue Half Sleeve T-Shirt,249,https://images.bewakoof.com/t320/aqua-sky-half...
8,Lal Matir Pothe Half Sleeve T-Shirt,199,https://images.bewakoof.com/t320/lal-matir-pot...
9,Andhokar Half Sleeve T-Shirt,199,https://images.bewakoof.com/t320/andhokar-half...

-----

-----